{% extends "layout/layout.html" %}
{% block title %}ໜ້າຈັດ​ການ​ການ​ບໍ​ລິ​ການ-{{user}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
  #pay_rc{text-align: center; font-weight: bold;color: red;}
.select-replacement-wrapper {
  position: relative;
  border: 3px solid white;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
}

.select-replacement-wrapper a {
  /* display: none; */
  text-align: center;
  display: block;
  /* border: 1px solid blue; */
}

select.replace {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* border: 1px solid green; */
  opacity: 0;
}
</style>
<br>
<div class="container col-sm-12">
  <div class="card">
    <div class="card-body" style="background-color:darkcyan;padding-right: 2.4%;">
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="background-color: darkslategrey;color: white;">
            <div class="card-header">
              <center>
                ​ກຳນົດການ​ບໍ​ລິ​ການ
              </center>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                  $(".alert-dismissible").alert('close');
                });
              </script>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
            <div class="card-body">
              <form class="" action="/save_service" method="post" id="myForm">
                  <div class="row">
                    <div class="col-xs" style="width: 20px;margin-left: -25px;"></div>
                    <div class="col-sm-6">
                      <label for="exampleFormControlSelect1"><strong>ລະ​ຫັດໃບ​ບິນ:</strong></label>
                      <input class="form-control" type="text" value="{{doc_no}}" required name="bill_id" readonly>
                    </div>
                    <div class="col-sm-6">
                      <label for="exampleFormControlSelect1"><strong>ວັນ​ທີ:</strong></label>
                      <input class="form-control" type="text" value="{{doc_date}}" required name="bill_date" readonly>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-xs" style="width: 20px;margin-left: -25px;"></div>
                    <div class="col-sm-6">
                      <label for="exampleFormControlSelect1">ລະ​ຫັດລູກ​ຄ້າ:</label>
                      <input type="text" class="form-control" value="" name="cust_id" id="cust_id" readonly required style="font-family: monospace;"
                       onclick="openmodal_Cust(this)"
                      style="border: 2px solid #444;" />
                    </div>
                    <div class="col-sm-6">
                      <label for="exampleFormControlSelect1">ລະ​ຫັດພະ​ນັກ​ງານ:</label>
                  <input type="text" class="form-control" value="" name="emp_id" id="emp_id" readonly required style="font-family: monospace;"
                   onclick="openmodal_Emp(this)"
                  style="border: 2px solid #444;" />
                    </div>
                  </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">ການບໍ​ລິ​ການ:</label>
                    <select class="replace" id="service_id" name="service_id" style="text-align: center;" onchange="show_price()" required>
                      <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                      {% for items in sv_list %}
                      <option value={{items[0]}}>{{items[1]}}</option>
                      {% endfor %}
                    </select>
                </div>

                <div class="row">
                    <div class="col-xs" style="width: 20px;margin-left: -25px;"></div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlSelect1">​​ລາ​ຄາ:</label>
                        <input class="form-control" type="text" id="price" readonly oninput="myFunction()" required>
                    </div>
                    <div class="col-sm-2">
                      
                    </div>
                    <div class="col-sm-4">
                        <label for="exampleFormControlSelect1">ຈຳນວນ:</label>
                        <input class="form-control" type="number" name="qty" id="qty" step="0.1" oninput="myFunction()" required>
                    </div>
                  </div>
                  <div class="form-group">
                        <center><label for="exampleFormControlSelect1"><strong>​​ຄ່າ​ຊຳ​ລະ:</strong></label>
                        <input type="number" class="form-control" name="pay_rc" id="pay_rc" required>
                        </center>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs" style="width: 20px;margin-left: -25px;"></div>
                    <div class="col-sm-4">
                        <label for="exampleFormControlSelect1">ເລກ​ກະ​ຕ່າ:</label>
                        <input class="form-control" type="number" name="basket_no" required>
                    </div>
                    <div class="col-sm-2">
                      
                    </div>
                    <div class="col-sm-6">
                      <label for="exampleFormControlSelect1">ການຊຳ​ລະ:</label>
                    <select class="form-control" id="payment" name="payment" style="text-align: center;" required>
                      <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                      <option value="1">ສົດ</option>
                      <option value="2">​ໂອນ</option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">ໝາຍເຫດ:</label>
                    <textarea name="remark" id="" cols="30" rows="2"></textarea>
                  </div>
                  <br>
                
                <button type="submit" class="btn btn-primary form-control">ບັນທຶກ</button>
                <hr>
                <div class="d-flex flex-wrap justify-content-around">
                <button type="reset" style="width: 100px;" class="btn btn-warning">ລ້າງ​ຟອມ</button>
                <button onclick="history.back()" style="width: 100px;" class="btn btn-secondary">ກັບຄືນ</button>
                </div>
                <br>
              </form>

            </div>

          </div>
        </div>
        <div class="col-sm-9"
          style="background-color: whitesmoke; padding-top: 10px;padding-right: 15px;border-radius: 5px;">
          <div class="contianer-fluid">
            <div class="card">
                <div class="card-body" style="background-color: white;">
        
                    <div class="page-content container">
                        <div class="page-header text-blue-d2">
                          <div class="col-sm-12">
                            <div class="col-sm-4">
                              <img src="{{url_for('static',filename='images/Logo.jpg')}}" class="d-inline-block align-top rounded-circle" alt="" width="150" height="150">
                            </div>
                            <div class="col-sm-8">
                              <h1>ຮ້ານສະດວກຊັກ</h1>
                            </div>
                          </div>

                          <div class="container">
                            <div class="row">
                              <div class="col">
                                <img src="{{url_for('static',filename='images/Logo.jpg')}}" class="d-inline-block align-top rounded-circle" alt="" width="150" height="150">
                              </div>
                              <div class="col">
                                <h1>ຮ້ານສະດວກຊັກ</h1>
                              </div>
                            </div>
                          </div>
                          
                            <h1 class="page-title text-secondary-d1">
                                ໃບບິນ
                                <small class="page-info">
                                    <i class="fa fa-angle-double-right text-80"></i>
                                    ເລກທີ: #001
                                </small>
                            </h1>
        
                            <div class="page-tools">
                                <div class="action-buttons">
                                    <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="Print">
                                        <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                                        Print
                                    </a>
                                    <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="PDF">
                                        <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                                        Export
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="container px-0">
                            <div class="row mt-4">
                                <div class="col-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-center">
                                              <img src="{{url_for('static',filename='images/Logo.jpg')}}" class="d-inline-block align-top rounded-circle" alt="" width="150" height="150">
                                            </div>
                                            <div class="text-center text-150">
                                                <span class="text-default-d3">ຮ້ານສະດວກຊັກ M-soul by pmk lao</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .row -->
        
                                    <hr class="row brc-default-l1 mx-n1 mb-4" />
        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="text-grey-m2">
                                                <div class="my-1">
                                                    ບ້ານ ທົ່ງສ້າງນາງ
                                                </div>
                                                <div class="my-1">
                                                    ເມືອງ ຈັນທະບູລີ, ນະຄອນຫຼວງວຽງຈັນ
                                                </div>
                                                <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i>
                                                    <b class="text-600">111-111-111</b>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col -->
        
                                        <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                                            <hr class="d-sm-none" />
                                            <div class="text-grey-m2">
                                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                                        class="text-600 text-90">ເລກທີ:</span> #001</div>
        
                                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                                        class="text-600 text-90">ວັນ.ເດືອນ.ປີ:</span> ພຶດສະພາ 12, 2022</div>
        
                                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                                        class="text-600 text-90">ສະຖານະ:</span> <span
                                                        class="badge badge-success badge-pill px-25">ຈ່າຍແລ້ວ</span></div>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
        
                                    <div class="mt-4">
                                        <div class="row text-600 text-white bgc-default-tp1 py-25">
                                            <div class="d-none d-sm-block col-1">ລຳດັບ</div>
                                            <div class="col-9 col-sm-5">ລະຫັດບໍລິການ</div>
                                            <div class="d-none d-sm-block col-4 col-sm-2">ຈຳນວນ</div>
                                            <div class="d-none d-sm-block col-sm-2">ຫົວໜ່ວຍ</div>
                                            <div class="col-2">ລວມ</div>
                                        </div>
        
                                        <div class="text-95 text-secondary-d3">
                                            <div class="row mb-2 mb-sm-0 py-25">
                                                <div class="d-none d-sm-block col-1">1</div>
                                                <div class="col-9 col-sm-5">ຊັກຜ້າຫົ່ມ</div>
                                                <div class="d-none d-sm-block col-2">2</div>
                                                <div class="d-none d-sm-block col-2 text-95">2 ຜືນ</div>
                                                <div class="col-2 text-secondary-d2">k20</div>
                                            </div>
        
                                            <div class="row mb-2 mb-sm-0 py-25 bgc-default-l4">
                                                <div class="d-none d-sm-block col-1">2</div>
                                                <div class="col-9 col-sm-5">ຊັກຊົບໝອນ</div>
                                                <div class="d-none d-sm-block col-2">1</div>
                                                <div class="d-none d-sm-block col-2 text-95">3 ຊຸດ</div>
                                                <div class="col-2 text-secondary-d2">k15</div>
                                            </div>
        
                                            <div class="row mb-2 mb-sm-0 py-25">
                                                <div class="d-none d-sm-block col-1">3</div>
                                                <div class="col-9 col-sm-5">ຊັກໂສ້ງຂາສັ້ນ</div>
                                                <div class="d-none d-sm-block col-2">--</div>
                                                <div class="d-none d-sm-block col-2 text-95">1 ໂຕ</div>
                                                <div class="col-2 text-secondary-d2">k1,000</div>
                                            </div>
        
                                            <div class="row mb-2 mb-sm-0 py-25 bgc-default-l4">
                                                <div class="d-none d-sm-block col-1">4</div>
                                                <div class="col-9 col-sm-5">ຊັກເສື້ອແຂນຍາວ</div>
                                                <div class="d-none d-sm-block col-2">4</div>
                                                <div class="d-none d-sm-block col-2 text-95">5 ໂຕ</div>
                                                <div class="col-2 text-secondary-d2">k500</div>
                                            </div>
                                        </div>
                                        <div class="row border-b-2 brc-default-l2"></div>                
                                        <hr />
        
                                        <div>
                                            <span class="text-secondary-d1 text-105">ຂອບໃຈທີ່ໃຊ້ບໍລິການ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal_Customer-->
<div class="modal fade" id="Modal_Cust" tabindex="-1" aria-labelledby="Modal_CustLabel" aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.678);" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content"
      style="border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;width: 800px;border: 5px solid #fff;">
      <div class="modal-header" style="background-color: #232629; color: #fff;">
        <h5 class="modal-title" id="Modal_CustLabel">ເລືອກລູກ​ຄ້າ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        style="background-color: #EFEFEF;color: #fff;font-weight: 700;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">

        <div class="row my-3" style="justify-content: flex-end;margin-bottom: -5px;">
            <div class="col-1 text-end">
              <label for="usr" style="font-weight: bold;color: #232629;">ຄົ້ນຫາ:</label>
            </div>
            <div class="col-3">
              <input id="myInput_Cust" type="text" placeholder="" style="border-radius: 15px; border: 3px solid #444;">
            </div>
        </div>

        <table class="table table-sm table-hover table-striped" id="Ratetable">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:20%;font-size: 11pt;">ລະຫັດຜູ້ສະໜອງ</th>
              <th scope="col" style="width:25%;font-size: 11pt;">ຊື່ຜູ້ສະໜອງ</th>
              <th scope="col" style="width:15%;font-size: 11pt;">ທີ່ຢູ່</th>
              <th scope="col" style="width:20%;font-size: 11pt;">ເບີໂທ</th>
              <th scope="col" style="width:8%;font-size: 11pt;">Action</th>
            </tr>
          </thead>
          <tbody id="myTable_Cust">
            {% for item in cust_list %}
            <tr style="background-color: white;color: #444;">
              <td style="text-align: center;font-size: 12pt;">{{item[0]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[1]}}</td>
              <td style="text-align: center;font-size: 10pt;">{{item[2]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[3]}}</td>
              <td>
                <a href="#" class="helloCust" data-id="{{item[0]}}">
                  <button type="button" class="btn btn-success"
                    style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                    <i class="bi bi-check-square" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<!-- Modal_Emp -->
<div class="modal fade" id="Modal_Emp" tabindex="-1" aria-labelledby="Modal_EmpLabel" aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.678);" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content"
      style="border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;width: 800px;border: 5px solid #fff;">
      <div class="modal-header" style="background-color: #232629; color: #fff;">
        <h5 class="modal-title" id="Modal_EmpLabel">ເລືອກ​ພະ​ນັກ​ງານ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        style="background-color: #EFEFEF;color: #fff;font-weight: 700;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">

        <div class="row my-3" style="justify-content: flex-end;margin-bottom: -5px;">
            <div class="col-1 text-end">
              <label for="usr" style="font-weight: bold;color: #232629;">ຄົ້ນຫາ:</label>
            </div>
            <div class="col-3">
              <input id="myInput_emp" type="text" placeholder="" style="border-radius: 15px; border: 3px solid #444;">
            </div>
        </div>

        <table class="table table-sm table-hover table-striped" id="Ratetable">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:20%;font-size: 11pt;">ລະຫັດພະ​ນັກ​ງານ</th>
              <th scope="col" style="width:25%;font-size: 11pt;">ຊື່ພະ​ນັກ​ງານ</th>
              <th scope="col" style="width:15%;font-size: 11pt;">ທີ່ຢູ່</th>
              <th scope="col" style="width:20%;font-size: 11pt;">ເບີໂທ</th>
              <th scope="col" style="width:8%;font-size: 11pt;">Action</th>
            </tr>
          </thead>
          <tbody id="myTableEmp">
            {% for item in emp_list %}
            <tr style="background-color: white;color: #444;">
              <td style="text-align: center;font-size: 12pt;">{{item[0]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[1]}}</td>
              <td style="text-align: center;font-size: 10pt;">{{item[2]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[3]}}</td>
              <td>
                <a href="#" class="helloEmp" data-id="{{item[0]}}">
                  <button type="button" class="btn btn-success"
                    style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                    <i class="bi bi-check-square" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<script>
      function deleteitem(id) {
        swal({
            title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            cancelButtonColor: '#3085d6',
            confirmButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then(function () {
            location.href = "/delete_service_price/" + id;
        })
      }

      function openmodal_Cust(input) {
    $('#Modal_Cust').modal('show');
    $(".helloCust").unbind().click(function (event) {
      $("input[id='cust_id']").val($(this).attr("data-id"));
      $('#Modal_Cust').modal('hide');
    });
  }
  // modal ຜູ້ສະໜອງ
  function openmodal_Emp(input) {
    $('#Modal_Emp').modal('show');
    $(".helloEmp").unbind().click(function (event) {
      $("input[id='emp_id']").val($(this).attr("data-id"));
         $('#Modal_Emp').modal('hide');
     });
   }


//ຄົ້ນຫາ supplier
  $(document).ready(function () {
    $("#myInput_Cust").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable_Cust tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

$('select.replace').wrap('<div class="select-replacement-wrapper"></div>');

// Replace placeholder text with select's initial value
$('.select-replacement-wrapper').each(function() {
	$(this).prepend('<a>' + $('select option:selected', this).text() + '</a>');
});

// Update placeholder text with updated select value
$('select.replace').change(function(event) {
  $(this).siblings('a').text( $('option:selected', this).text() );
});

function show_price() {
    var x = document.getElementById("service_id").value;
    fetch('pricepredict/' + x).then(function (response) {
      response.json().then(function (data) {
        for (price_ of data.pricelist) {
          price.value = price_[0];
        }
      });
    });
  }

    function myFunction() {
        var qty = document.getElementById("qty").value;
        var a = document.getElementById("price").value;
        var total = qty * a;
        document.getElementById("pay_rc").value = Math.round(total);
         
    }
</script>


{% endblock %}