{% extends "layout/layout.html" %}
{% block title %}ໃບ​ບິນ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<br>

<!-- <style>
    body {
        margin-top: 20px;
        color: #484b51;
    }

    .text-secondary-d1 {
        color: #728299 !important;
    }

    .page-header {
        margin: 0 0 1rem;
        padding-bottom: 1rem;
        padding-top: .5rem;
        border-bottom: 1px dotted #e2e2e2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }

    .page-title {
        padding: 0;
        margin: 0;
        font-size: 1.75rem;
        font-weight: 300;
    }

    .brc-default-l1 {
        border-color: #dce9f0 !important;
    }

    .ml-n1,
    .mx-n1 {
        margin-left: -.25rem !important;
    }

    .mr-n1,
    .mx-n1 {
        margin-right: -.25rem !important;
    }

    .mb-4,
    .my-4 {
        margin-bottom: 1.5rem !important;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .text-grey-m2 {
        color: #888a8d !important;
    }

    .text-success-m2 {
        color: #86bd68 !important;
    }

    .font-bolder,
    .text-600 {
        font-weight: 600 !important;
    }

    .text-110 {
        font-size: 110% !important;
    }

    .text-blue {
        color: #478fcc !important;
    }

    .pb-25,
    .py-25 {
        padding-bottom: .75rem !important;
    }

    .pt-25,
    .py-25 {
        padding-top: .75rem !important;
    }

    .bgc-default-tp1 {
        background-color: rgba(121, 169, 197, .92) !important;
    }

    .bgc-default-l4,
    .bgc-h-default-l4:hover {
        background-color: #f3f8fa !important;
    }

    .page-header .page-tools {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .btn-light {
        color: #757984;
        background-color: #f5f6f9;
        border-color: #dddfe4;
    }

    .w-2 {
        width: 1rem;
    }

    .text-120 {
        font-size: 120% !important;
    }

    .text-primary-m1 {
        color: #4087d4 !important;
    }

    .text-danger-m1 {
        color: #dd4949 !important;
    }

    .text-blue-m2 {
        color: #68a3d5 !important;
    }

    .text-150 {
        font-size: 150% !important;
    }

    .text-60 {
        font-size: 60% !important;
    }

    .text-grey-m1 {
        color: #7b7d81 !important;
    }

    .align-bottom {
        vertical-align: bottom !important;
    }
</style> -->

<style>
    /* #footer {
        min-height:30vh;
        bottom: 0;
        width: 100%;
    } */
    nav,
    a {
        font-family: "Phetsarath OT";
    }

    body {
        min-height:100vh;
        position:relative;
        background-color: whitesmoke;
        /* background-color:#bf9400 #EFEFEF; */
        font-family: "Phetsarath OT";
    }

    table {
        font-family: "Phetsarath OT";
        border-collapse: collapse;
        /* width: 40%; */
    }

    td,
    th {
        border: 0.5px solid darkcyan;
        text-align: center;
        padding: 5px;
        height: 2%;
        font-size: 15px;
        /* font-weight: bold; */
    }

    .card-header {
        background-color: darkslategrey;
        color: white;
        border-bottom: 1px solid whitesmoke;
    }

    #bitrash {
        font-size: 18px;
        margin-left: 10px;
        color: red;
    }

    .swal2-title,
    .swal2-content,
    .swal2-confirm,
    .swal2-cancel {
        font-family: Phetsarath OT;
    }

    @media print {
        .noPrint {
            display: none;
        }
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="contianer-fluid">
    <style>
        @media print{
            .a {
                display: none;
            }
           head{
                display: none;
            }
            .navbar{
                display: none;
            }
            .sectiom{
                display: none;
            }
        }
    </style>
    <div class="card">
        <div class="card-body" style="background-color: white;">
  
            <div class="page-content container">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{url_for('static',filename='images/Logo.jpg')}}" class="d-inline-block align-top rounded-circle" alt="" width="150" height="150">
                        </div>
                        <div class="col-sm-7">
                            <h3 class="font-weight-bold">ຮ້ານສະດວກຊັກ • ອົບແຫ້ງ</h3>
                            <h6>ບ້ານຮ່ອງໄກ່ແກ້ວ, ເມືອງຈັນທະບູລີ, ນະຄອນຫຼວງວຽງຈັນ</h6>
                            <h6>ໂທ:021 265 689, E-mail: pmk_mone@hotmail.com</h6>
                        </div>
  
                        <div class="page-tools col-sm-1">
                            <button onclick="window.print();return false;"
                                class="btn bg-white btn-light mx-1px text-95 a" style="border: 1px groove black;"><i
                                    class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>Print</button>
  
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="container px-0">
                <div class="row mt-4">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-12">
  
                                <div class=" text-150 col-12">
                                    <h3 class="font-weight-bold text-center">ໃບບິນ</h3>
                                </div>
                                <div class="text-grey-m2 text-end col-md-12">
                                    <div class="row">
                                        <div class="col-md-9">

                                        </div>
                                        <div class="col-md-3">
                                            <div class="my-2 text-start"> <span class="text-600 text-90">ເລກທີ:</span> {{show[1]}} </div>
          
                                            <div class="my-2 text-start"></i> <span class="text-600 text-90">ວັນທີ:</span> {{show[0]}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h6>
                                        <strong>ຊື່ລູກຄ້າ ແລະ
                                        ນາມສະກຸນ:</strong>&emsp; {{show[3]}} &emsp;<strong>ທີ່ຢູ່</strong>&emsp; {{show[6]}} &emsp;<strong>ເບີໂທ</strong>&emsp; {{show[7]}} &emsp;
                                    </h6>
                                </div>
                            </div>
                        </div>
  
                        <!-- ແບບຕາຕະລາງ-->
  
                        <div class="table-responsive">
                            <table class="table" style="border: 1px solid black; border-collapse: collapse;">
                                <thead class="bg-none">
                                    <tr class="text-black">
                                        <th scope="col" style="width:3%;font-size: 13pt;">ລ/ດ</th>
                                        <th scope="col" style="width:40%;font-size: 13pt;">ລາຍ​ການ</th>
                                        <th scope="col" style="width:10%;font-size: 13pt;">ເລກ​ກະ​ຕ່າ</th>
                                        <th scope="col" style="width:10%;font-size: 13pt;">ຈຳນວນ</th>
                                        <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາ</th>
                                        <th scope="col" style="width:10%;font-size: 13pt;">ຈຳ​ນວນ​ເງີນ</th>
                                        <!-- <th scope="col" style="width:3%;font-size: 13pt;">Action</th> -->
                                    </tr>
                                </thead>
  
                                <tbody class="text-95 text-secondary-d3">
                                    {% for item in detail_list %}
                                    <tr style="background-color: white;">
                                    <td style="text-align: center;" id="name_pro">{{item[0]}}</td>
                                    <td style="text-align: left;" id="qty_pro">{{item[2]}}</td>
                                    <td style="text-align: center;" id="unit_pro">{{item[3]}}</td>
                                    <td style="text-align: center;">{{item[4]}}</td>
                                    <td style="text-align: center;" id="unit_pro">{{item[5]}} ₭</td>
                                    <td style="text-align: center;" id="unit_pro">{{item[6]}} ₭</td>
                                    <!-- <td>
                                        <a href="#" style="border-radius: 5px;text-decoration: none;" onclick="deleteitem('{{item[1]}}')"
                                        id="icon_del">
                                        <i class="bi bi-trash-fill" id="bitrash"
                                            style="color: #DD4832;margin: 5px;margin-bottom: -10px;font-size: 19px;"></i>
                                        </a>
                                    </td> -->
                                    </tr>


                                    {% endfor %}
                                    {% for item in sum_amount %}
                                    <tr style="background-color: #DEDEDF;border: 1px solid #232629">
                                    <td colspan="5"
                                        style="text-align: right;font-size: 14pt;font-weight: bold;border-right: 1px solid #232629">
                                        ລວມ:&nbsp;&nbsp;</td>
                                    <td colspan="1" style="text-align: center;font-size: 16pt;font-weight: bold;color: #00bd1f;" id="sumval">{{item[0]}} ₭</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
  
                        <!-- ........... ຕົວຢ່າງ-->
  
  
  
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                <div class="card-footer"
                                    style="width: 325px;;font-weight: bold;border-radius: 14px;float: left;margin-left: 85px;">
                                    ຜູ້ຮັບ​ເງີນ
                                </div>
                                <div style="height: 150px;"></div>
                              </div>
                              <div class="col-sm">
                                <div class="card-footer"
                                    style="width: 325px;font-weight: bold;border-radius: 14px;float: left;margin-left: 85px;">
                                    ຜູ້ມອບ​ເງີນ
                                </div>
                                <div style="height: 150px;"></div>
                            </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  </div>
  </div>
{% endblock %}