{% extends "layout/layout.html" %}
{% block title %}ລາຍ​ກາຍບໍ​ລິ​ການ​{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        background: #007BFF;
        color: white !important;
        border: 2px solid #fff !important;
        border-radius: 5px;
        font-size: 13pt;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
        background: #0069D9;
        color: white !important;
        border: 2px solid #fff !important;
        border-radius: 5px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
        background: #444;
        color: white !important;
        border-radius: 5px;
    }
    div.dataTables_wrapper div.dataTables_filter input{
        border-radius: 15px;
        border: 3px solid #444;
    }
    div.dataTables_wrapper div.dataTables_filter label,
    div.dataTables_wrapper div.dataTables_length label,
    div.dataTables_wrapper div.dataTables_info,
    .dataTables_wrapper .dataTables_paginate .paginate_button{
        font-weight: 800;
    }
    tr.even{
    background-color: #E7E9EB !important;
    }
    table.dataTable, table.dataTable th, table.dataTable td{
        border: 1px solid rgba(68, 68, 68, 0.205);
    }
    
</style>
<div class="col-sm" style="z-index: 5;position: absolute;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
      $(".alert-dismissible").alert('close');
    });
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<br>
<div class="container col-sm-10">
    <div class="card">
      <div class="card-body" style="background-color: #EFEFEF;">
        <div class="row">

          <div class="col-sm" style="padding-top: 10px;padding-right: 15px;box-shadow: 0px 0px 10px 1px #444;border-radius: 12px;width: 1080px;padding-left: 15px;">
            <div class="card-header text-white" style="font-weight: bold;background-color: rgb(12, 100, 154);border-top-left-radius: 14px;border-top-right-radius: 14px;">
                <center>
                    <h5><i class="bi bi-box" style="padding-right: 5px;"></i>ລາຍ​ການບໍ​ລິ​ການ​ທັງ​ໝົດ</h5>
                </center>
              </div>

              <div class="row" style="width: 360px;justify-content: center;border-radius: 12px;margin-left: -10px;">
                <div class="row">
                  <div class="col-6">
                    <a href="/service_desc" style="padding-right: 15px;">
                      <button type="button" class="btn btn-success" style="margin-bottom: 10px;margin-top: 10px;border-bottom: 4px solid darkgreen;border-radius: 50%;border-bottom-right-radius: 12px;">
                      <i class="bi bi-bag-plus-fill" style="padding-left: 6px;padding-right: 5px;font-size: 20pt;"></i>ສ້າງ​ລາຍ​ການ​ບໍ​ລິ​ການ</button>
                    </a>
                  </div>

                  <div class="col-1"></div>
                  
                  <div class="col-5">
                    <a href="/home_servicing" style="padding-left: 15px;">
                      <button type="button" class="btn btn-danger" style="margin-bottom: 10px;margin-top: 10px;border-bottom: 4px solid darkred;border-radius: 50%;border-bottom-right-radius: 12px;">
                      <i class="bi bi-bag-x-fill" style="padding-left: 6px;padding-right: 5px;font-size: 20pt;"></i>​ລາຍ​ການ​ບໍ​ລິ​ການທີ່​ຄົງ​ຄ້າງ</button>
                    </a>
                  </div>
                </div>
              </div>
            
            <table class="table table-sm table-hover table-striped table-responsive" id="Ratetable">
              <thead class="" style="background-color: rgb(12, 100, 154);color: #fff;font-weight: 100;">
                <tr>
                  <th scope="col" style="width:13%;font-size: 11pt;">ວັນທີ</th>
                  <th scope="col" style="width:9%;font-size: 11pt;">ເລກທີ</th>
                  <th scope="col" style="width:10%;font-size: 11pt;">ຊື່ລູກ​ຄ້າ</th>
                  <th scope="col" style="width:12%;font-size: 11pt;">​​ຊື່​ພະ​ນັກ​ງານ</th>
                  <th scope="col" style="width:6%;font-size: 11pt;">​ຈຳ​ນວນ</th>
                  <th scope="col" style="width:10%;font-size: 11pt;">​ຄ່າ​ຊຳ​ລະ</th>
                  <th scope="col" style="width:10%;font-size: 11pt;">ສະ​ຖາ​ນະ</th>
                  <th scope="col" style="width:6%;font-size: 11pt;">ອັບ​ເດດ</th>
                  <th scope="col" style="width:3%;font-size: 11pt;">Print</th>
                  <th scope="col" style="width:5%;font-size: 11pt;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in home_list %}
                <tr style="background-color: white;">
                  <td style="font-weight: bold;font-size: 12pt;">{{item[0]}}</td>
                  <td style="text-align: center;font-weight: bold;font-size: 12pt;">{{item[1]}}</td>
                  <td style="text-align: center;font-weight: bold;font-size: 12pt;">{{item[2]}}</td>
                  <td style="text-align: center;font-weight: bold;font-size: 12pt;">{{item[3]}}</td>
                  <td style="text-align: center;columns: 300px;font-size: 13pt;font-weight: bold;">{{item[4]}}</td>
                  <td style="text-align: center;columns: 300px;font-size: 13pt;font-weight: bold;">{{item[5]}}</td>
                  {% if item[6] == 0 %}
                  <td style="text-align: center;columns: 300px;font-size: 13pt;font-weight: bold; color: red;">ກຳ​ລັງ​ດຳ​ເນີນ​ການ</td>
                  {% else %}
                  <td style="text-align: center;columns: 300px;font-size: 13pt;font-weight: bold; color: green;">​ສຳ​ເລັດ​ແລ້ວ</td>
                  {% endif %}
                  <td>
                    <a href="/service_about/{{item[1]}}" style="border-radius: 5px;text-decoration: none;">
                      <i class="bi bi-search" style="color: #428FB8;font-size: 19px;" data-toggle="tooltip" data-placement="top" title="ອັບ​ເດດສະ​ຖາ​ນະ"></i>
                  </a>
                  </td>
                  <td>
                    <a href="javascript: void(0)" onclick="popup('/print_bill/{{item[1]}}')" style="border-radius: 5px;text-decoration: none;">
                      <i class="bi bi-printer" style="color: #428FB8;font-size: 20px"></i>
                    </a>
                    <!-- <a href="javascript: void(0)" style="border-radius: 5px;text-decoration: none;">
                      <i class="bi bi-printer" style="color: #428FB8;font-size: 20px"></i>
                    </a> -->
                  </td>
                  <td>
                    <a href="#" style="border-radius: 5px;text-decoration: none;"
                                onclick="deleteitem('{{item[1]}}')" id="icon_del">
                        <i class="bi bi-trash-fill" id="bitrash" style="color: #DD4832;margin: 5px;margin-bottom: -10px;font-size: 19px;"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- javascript -->
<script>
    function deleteitem(id) {
      swal({
        title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
        text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#3085d6',
        confirmButtonColor: '#d33',
        confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
        cancelButtonText: 'ບໍ່,ກັບຄືນ!',
      }).then(function () {
        location.href = "/delete_home_service/" + id;
      })
    }

    function popup(url) 
{
 params  = 'width='+screen.width;
 params += ', height='+screen.height;
 params += ', top=0, left=0'
 params += ', fullscreen=yes';

 newwin=window.open(url,'windowname4', params);
 if (window.focus) {newwin.focus()}
 return false;
}

sessionStorage.clear();
  </script>
{% endblock %}