{% extends "layout/layout.html" %}
{% block title %}ການ​ບໍ​ລິ​ການ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
  #pay_rc{text-align: center; font-weight: bold;color: red;}
  .select-replacement-wrapper {
    position: relative;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: black;
  }

  .select-replacement-wrapper a {
    text-align: center;
    display: block;
  }

  select.replace {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
  }
  .dataTables_empty {
    color: #000;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #007BFF;
    color: white !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
    font-size: 13pt;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #0069D9;
    color: white !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #444;
    color: white !important;
    border-radius: 5px;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 15px;
    border: 3px solid #444;
  }

  div.dataTables_wrapper div.dataTables_filter label,
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_info,
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 800;
  }

  tr.even {
    background-color: #E7E9EB !important;
  }

  table.dataTable,
  table.dataTable th,
  table.dataTable td {
    border: 1px solid rgba(68, 68, 68, 0.205);
  }

  table#insertdata,
  table#insertdata th,
  table#insertdata td {
    border: 2px solid rgba(68, 68, 68, 0.205);
  }

  table#insertdata td {
    font-size: 12pt;
    color: #232629;
    font-weight: 600;
    background-color: #fff;
  }

  table#insertdata tbody tr:nth-child(even) {
    background-color: #E7E9EB !important;
  }

</style>
<br>
<div class="col-sm" style="z-index: 5;position: absolute;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
      $(".alert-dismissible").alert('close');
    });
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<!-- <br> -->
<div class="container col-sm-11">
  <div class="card">
    <div class="card-body" style="margin-top: -10px;">
      <div class="row">
        <div class="col-sm"
          style="padding-top: 10px;padding-right: 15px;box-shadow: 0px 0px 10px 1px #444;border-radius: 12px;width: 1080px;padding-left: 15px;">
          <div class="card-header text-white"
            style="font-weight: bold;background-color: rgb(12, 100, 154);border-top-left-radius: 14px;border-top-right-radius: 14px;text-align: center;">


            <h5><i class="bi bi-box" style="padding-right: 5px;"></i>ການ​ບໍ​ລິ​ການ</h5>

          </div>
          <!-- <form class="" action="/" method="post" style="font-weight: bold;" id="FormAll"> -->
          <form class="" action="/save_bill_desc" method="post" style="font-weight: bold;" id="Form1">
          <!-- save and exit -->
          <div class="row" style="width: 325px;font-weight: bold;border-radius: 14px;float: left;margin-left: 100px;margin-top: 15px;">
            <input type="submit" class="btn btn-primary" style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #0069D9;border-radius: 12px;width: 100px;" value="ບັນທຶກ" onclick="Reset()"/>
            <a href="/back_button_service_desc" onclick="Reset()" type="reset" class="btn btn-warning" style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #E0A800;border-radius: 12px;width: 100px;">ຍົກເລີກ</a>
          </div><br><br>
          <!-- <form class="" action="/pick_save" method="post" style="font-weight: bold;" id="myForm"> -->

            <div class="container my-3">
              <div class="row justify-content-start">
                <div class="col-md-1 text-end">
                  <label for="usr">ວັນທີ:</label>
                </div>
                <div class="col-md-3">
                  <input type="datetime" class="form-control form-control-sm" value="{{doc_date}}" name="bill_date"
                    style="border: 2px solid #444;" readonly/>
                </div>
                <!-- <div class="col-md-2 text-end">
                  <label for="usr">ເວ​ລາ:</label>
                </div>
                <div class="col-md-3">
                  <input type="time" class="form-control form-control-sm" value="{{doc_time}}" name=""
                    style="border: 2px solid #444;" readonly/>
                </div> -->
              </div>
            </div>
  
            <div class="container my-3">
              <div class="row justify-content-start">
                <div class="col-md-1 text-end">
                  <label for="usr">ເລກທີ:</label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control form-control-sm" value="{{doc_no}}" name="bill_id" readonly
                    style="border: 2px solid #444;" />
                </div>
              </div>
            </div>
  

          <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-md-1 text-end">

              </div>
              <div class="col-md-2 text-end">
                <label for="usr">ລູກ​ຄ້າມີ​ລະ​ຫັດ?</label>
              </div>
              <div class="col-md-3">
                <input type="radio" name="employed" id="employed_v1" checked="checked" value="Yes" required="required" /> ມີ
                <input type="radio" name="employed" id="employed_v0" value="No" required="required" /> ບໍ່​ມີ <br>
    
                <!-- <input type="text" name="test" id="test" /> -->
              </div>
            </div>
          </div>

          <div class="container my-3" id="nocust">
            <div class="row justify-content-start">
              
              <div class="col-md-1 text-end">
                <label for="usr">ລະ​ຫັດ​ລູກ​ຄ້າ:</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" value="" name="cust_id1" required id="cust_id1" readonly onclick="openmodal_Cust(this)"
                  style="border: 2px solid #444;" />
              </div>
                <input type="text" class="form-control form-control-sm" value="" name="cust_id" id="cust_id" hidden readonly onclick="openmodal_Cust(this)"
                style="border: 2px solid #444;" />
              <div class="col-md-1 text-end" id="cust_id1" style="margin-left: -20px;">
                <a href="#" onclick="return openmodal_Cust(this)">
                  <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                    style="margin-top: 0px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                    <i class="bi bi-search" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </div>

              <div class="col-md-1 text-end">
                <label for="usr">ຊື່​​ລູກ​ຄ້າ:</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" value="" name="" id="cust_name1" readonly onclick="openmodal_Cust(this)"
                  style="border: 2px solid #444;" />
              </div>
                <input type="text" class="form-control form-control-sm" value="" name="" id="cust_name" hidden readonly onclick="openmodal_Cust(this)"
                  style="border: 2px solid #444;" />
              <div class="col-md-1 text-end" style="margin-left: -20px;">
                <a href="#" onclick="return openmodal_Cust(this)">
                  <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                    style="margin-top: 0px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                    <i class="bi bi-search" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </div>

              <!-- <div class="col-md-1 text-end" style="margin-left: -20px;">
                <a href="#" onclick="hideshow()">
                  <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                    style="margin-top: 0px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                    ລູກ​ຄ້າບໍ່ມີ​ລະ​ຫັດ
                  </button>
                </a>
              </div> -->

            </div>
          </div>

          <div class="container my-3" id="showcust">
            <div class="row justify-content-start">
              <div class="col-md-1 text-end">
                <label for="usr">ຊື່​​ລູກ​ຄ້າ:</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" value="" name="cust_id" id="cust_name2"
                  style="border: 2px solid #444;" />
              </div>
            </div>
          </div>

          <div class="container my-3">
            <div class="row justify-content-start">
              
              <div class="col-md-1 text-end">
                <label for="usr">ລະ​ຫັດພະ​ນັກ​ງານ​:</label>
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" value="" name="emp_id1" id="emp_id1" readonly onclick="openmodal_Emp(this)"
                  style="border: 2px solid #444;" />
              </div>
                <input type="text" class="form-control form-control-sm" value="" name="emp_id" id="emp_id" readonly hidden onclick="openmodal_Emp(this)"
                style="border: 2px solid #444;" />
              <div class="col-1 text-end" style="margin-left: -20px;">
                <a href="#" onclick="return  openmodal_Emp(this);">
                  <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                    style="margin-top: 0px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                    <i class="bi bi-search" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </div>

              <div class="col-md-1 text-end">
                <label for="usr">ຊື່​ພະ​ນັກ​ງານ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="" name="" id="emp_name1" readonly onclick="openmodal_Emp(this)"
                  style="border: 2px solid #444;" />
              </div>
                <input type="text" class="form-control form-control-sm" value="" name="" id="emp_name" readonly hidden onclick="openmodal_Emp(this)"
                  style="border: 2px solid #444;" />
              <div class="col-md-1 text-end" style="margin-left: -20px;">
                <a href="#" onclick="return  openmodal_Emp(this);">
                  <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                    style="margin-top: 0px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                    <i class="bi bi-search" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </div>

            </div>
          </div>

          <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-md-1 text-end">
                <label for="exampleFormControlSelect1">ການຊຳ​ລະ:</label>
              </div>
              <div class="col-md-4 text-end">
                <select class="form-control" id="payment" name="payment" style="text-align: center;" required>
                  <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                  <option value="1">ສົດ</option>
                  <option value="2">​ໂອນ</option>
                </select>
              </div>
            </div>
          </div>

          <!-- <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-1 text-end">
                <label for="usr">ການບໍ​ລິ​ການ:</label>
              </div>
              <div class="col-7">
                <select class="replace" id="service_id" name="service_id" style="text-align: center;" onchange="show_price()" required>
                  <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                  {% for items in sv_list %}
                  <option value={{items[0]}}>{{items[1]}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div> -->


          <!-- <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-1 text-end">
                <label for="exampleFormControlSelect1">​​ລາ​ຄາ:</label>
              </div>
              <div class="col-1">
                <input class="form-control" type="text" id="price" readonly oninput="myFunction()" required>
              </div>
              <div class="col-1 text-end">
                <label for="exampleFormControlSelect1">ຈຳນວນ:</label>
              </div>
              <div class="col-1">
                <input class="form-control" type="number" name="qty" id="qty" step="0.1" oninput="myFunction()" required>
              </div>
              <div class="col-2 text-end">
                <label for="exampleFormControlSelect1"><strong>​​ຄ່າ​ຊຳ​ລະ:</strong></label>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" name="pay_rc" id="pay_rc" required>
              </div>
            </div>
          </div> -->

          <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-1 text-end">
                <label for="usr">ໝາຍເຫດ:</label>
              </div>
              <div class="col-7">
                <textarea type="text" class="form-control form-control-sm" value="" name="remark1" id="remark1"
                  style="border: 2px solid #444;"></textarea>
              </div>
                <textarea textarea type="text" class="form-control form-control-sm" value="" name="remark" id="remark" hidden
                  style="border: 2px solid #444;"></textarea>
            </div>
          </div>
        </form>

          <hr style="width: 90%;margin-bottom: 30px;margin-top: -5px;">
          <!-- <form action="/save_bill_detail" method="post" onsubmit="alert()" id="Form2"> -->
          <form action="/save_bill_detail" method="post" id="Form2">
            <div class="row" style="justify-content: center;">
              <div class="container my-3">
                <div class="row justify-content-start">
                  <div class="col-md-1 text-end">
                    <a href="#" onclick="openmodal(this);">
                      <button type="button" data-toggle="" data-target="" class="btn btn-primary btn-sm"
                        style="margin-top: -8px;margin-right: 20px;border-bottom: 4px solid #0069D9;border-radius: 12px;">
                        <i class="bi bi-search" style="padding-right: 5px;font-size: 10pt;"></i>ຂໍ້​ມູນ​ບໍ​ລິ​ການ
                      </button>
                    </a>
                  </div>

                    <div class="col-1 text-end">
                      <label for="usr">ການບໍ​ລິ​ການ:</label>
                    </div>
                    <div class="col-8">
                      <select class="replace" id="service_id" name="service_id" style="text-align: center;" onchange="show_price()" required>
                        <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                        {% for items in sv_list %}
                        <option value={{items[0]}}>{{items[1]}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <!-- <div class="col-1">
                      <label for="exampleFormControlSelect1">ເລກ​ກະ​ຕ່າ:</label>
                    </div>
                    <div class="col-1">
                      <input class="form-control form-control-sm" type="number" name="basket_no" required>
                    </div> -->
                    <div class="col-3">

                    </div>

                  <!-- <div class="col-1 text-end">
                    <label for="usr">ການບໍ​ລິ​ການ:</label>
                  </div>
                  <div class="col-md-1">
                    <select class="replace" id="service_id" name="service_id" style="text-align: center;" onchange="show_price()" required>
                      <option selected hidden style="text-align: center;">--ເລືອກ--</option>
                      {% for items in sv_list %}
                      <option value={{items[0]}}>{{items[1]}}</option>
                      {% endfor %}
                    </select>
                  </div> -->


                            <!-- <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-1 text-end">
                <label for="exampleFormControlSelect1">​​ລາ​ຄາ:</label>
              </div>
              <div class="col-1">
                <input class="form-control" type="text" id="price" readonly oninput="myFunction()" required>
              </div>
              <div class="col-1 text-end">
                <label for="exampleFormControlSelect1">ຈຳນວນ:</label>
              </div>
              <div class="col-1">
                <input class="form-control" type="number" name="qty" id="qty" step="0.1" oninput="myFunction()" required>
              </div>
              <div class="col-2 text-end">
                <label for="exampleFormControlSelect1"><strong>​​ຄ່າ​ຊຳ​ລະ:</strong></label>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" name="pay_rc" id="pay_rc" required>
              </div>
            </div>
          </div> -->
                </div>
                <br>
                <div class="row justify-content-start">
                  <div class="col-md-1 text-end">

                  </div>
                  <div class="col-md-1 text-end">
                    <label for="exampleFormControlSelect1">ເລກ​ກະ​ຕ່າ:</label>
                  </div>
                  <div class="col-md-1">
                    <input class="form-control form-control-sm" type="number" name="basket_no" required>
                  </div>

                  <div class="col-md-1 text-end">
                    <label for="usr">​​ລາ​ຄາ:</label>
                  </div>
                  <div class="col-md-1">
                    <input class="form-control form-control-sm" type="text" id="price" readonly oninput="myFunction()" required>
                  </div>
                  <div class="col-md-1 text-end">
                    <label for="usr">ຈຳນວນ:</label>
                  </div>
                  <div class="col-md-1 text-end">
                    <!-- <input type="number" class="form-control form-control-sm" name="wd_qty" id="wd_qty" value="1" required
                    style="border: 2px solid #444;font-weight: bold;text-align: right;" min="1"> -->
                    <input class="form-control form-control-sm" type="number" name="qty" id="qty" value="0" min="1" step="0.1" oninput="myFunction()" required>
                  </div>
                  <div class="col-md-1 text-end">
                    <label for="exampleFormControlSelect1"><strong>​​ລາ​ຄາ​ລວມ:</strong></label>
                  </div>
                  <div class="col-md-2 text-end">
                    <input type="number" class="form-control" name="pay_rc" id="pay_rc" readonly required>
                  </div>
                  <div class="col-md-1">
                    <button type="submit" id="add" class="btn btn-success btn-sm form-control">ເພີ່ມ</button>
                  </div>
                </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" value="{{doc_no}}" name="service_id" hidden
                      style="border: 2px solid #444;" />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" value="" name="emp_id" id="emp_id" hidden
                     onclick="openmodal_Emp(this)"
                      style="border: 2px solid #444;" />
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" value="" name="cust_id" id="cust_id" hidden
                     onclick="openmodal_Emp(this)"
                      style="border: 2px solid #444;" />
                  </div>
                  <input type="text" class="form-control form-control-sm" value="{{doc_no}}" name="bill_id" hidden
                  style="border: 2px solid #444;" />
              </div>
              <!-- </form> -->
              <!-- <a href="#" onclick="insertdataTB()">
                <button type="button" class="btn btn-success"
                  style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                  <i class="bi bi-plus-square" style="padding-right: 5px;font-size: 10pt;"></i>ເພີ່ມ
                </button>
              </a> -->

            </div>
          </form>
        <!-- </form> -->
        </div>

        <table class="table table-sm table-hover table-striped" id="insertdata">
          <thead class="" style="background-color: rgb(12, 100, 154);color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:3%;font-size: 13pt;">NO</th>
              <th scope="col" style="width:12%;font-size: 13pt;">ລະຫັດໃບ​ບິນ</th>
              <th scope="col" style="width:40%;font-size: 13pt;">ຊື່​ບໍ​ລິ​ການ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ເລກ​ກະ​ຕ່າ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ຈຳນວນ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາລວມ</th>
              <th scope="col" style="width:3%;font-size: 13pt;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in detail_list %}
            <tr style="background-color: white;">
              <td id="code_pro">{{item[0]}}</td>
              <td style="text-align: center;" id="name_pro">{{item[1]}}</td>
              <td style="text-align: left;" id="qty_pro">{{item[2]}}</td>
              <td style="text-align: center;" id="unit_pro">{{item[3]}}</td>
              <td style="text-align: center;"><a href="" data-toggle="modal"
                data-target="#update_dbitem/{{item[1]}}">{{item[4]}}</a></td>
              <td style="text-align: center;" id="unit_pro">{{item[5]}} ₭</td>
              <td style="text-align: center;" id="unit_pro">{{item[6]}} ₭</td>
              <td>
                <a href="#" style="border-radius: 5px;text-decoration: none;" onclick="deleteitem('{{item[1]}}')"
                  id="icon_del">
                  <i class="bi bi-trash-fill" id="bitrash"
                    style="color: #DD4832;margin: 5px;margin-bottom: -10px;font-size: 19px;"></i>
                </a>
              </td>
            </tr>
            <!-- UPDATE  QTY-->
            <div class="modal fade" id="update_dbitem/{{item[1]}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: #202D39;width: 75%;">
                  <!-- <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> -->
                  <div class="modal-body">
                  <form class="" action="/update_dbitem/{{item[1]}}" method="post">
                    <div class="col-sm-10">
                    <input type="text" value="{{item[1]}}" name="code_up" readonly hidden>
                    <input type="number" style="font-weight: bold;font-size: 14pt;text-align: center;" value="{{item[3]}}" class="form-control form-control-sm" style="text-align: center;" name="qty_up">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #6C757D;margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #5A6268;border-radius: 12px;width: 100px;color: #fff;" data-dismiss="modal">ອອກ</button>
                    <button type="submit" class="btn btn-primary" style="margin-top: -5px;margin-left: 10px;border-bottom: 4px solid #0069D9;border-radius: 12px;width: 100px;">ປັບປຸງ</button>
                  </div>
                </form>
                </div>
              </div>
            </div>


            {% endfor %}
            {% for item in sum_amount %}
            <tr style="background-color: #DEDEDF;border: 1px solid #232629">
              <td colspan="6"
                style="text-align: right;font-size: 14pt;font-weight: bold;border-right: 1px solid #232629">
                ລວມທັງໝົດ:&nbsp;&nbsp;</td>
              <td colspan="1" style="text-align: center;font-size: 14pt;font-weight: bold;color: #00bd1f;" id="sumval">{{item[0]}} ₭</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- <div class="card-footer"
        style="width: 325px;font-weight: bold;border-radius: 14px;float: left;margin-left: 85px;">
        <button type="submit" id="" class="btn btn-primary"
          style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #0069D9;border-radius: 12px;width: 100px;">ບັນທຶກ</button>
        <a href="/cc_pick"><button type="reset" class="btn btn-warning"
            style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #E0A800;border-radius: 12px;width: 100px;">ຍົກເລີກ</button></a>
      </div> -->
    </div>
  </div>
</div>
</div>

<!-- ModalListService-->
<div class="modal fade" id="Modal_listpro" tabindex="-1" aria-labelledby="Modal_listproLabel" aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.678);" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content"
      style="border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;width: 800px;border: 5px solid #fff;">
      <div class="modal-header" style="background-color: #232629; color: #fff;">
        <h5 class="modal-title" id="Modal_listproLabel">ເລືອກສິນຄ້າ</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">
          <span aria-hidden="true">&times;</span>
        </button> -->

        <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"
        style="background-color: #EFEFEF;color: #fff;font-weight: 700;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">
        <table class="table table-sm table-hover table-striped" id="Ratetable">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:12%;font-size: 13pt;">ລະຫັດບໍລິການ</th>
              <th scope="col" style="width:40%;font-size: 13pt;">ຊື່ບໍລິການ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາ</th>
              <!-- <th scope="col" style="width:3%;font-size: 13pt;">Action</th> -->
            </tr>
          </thead>
          <tbody>
            {% for item in sv_list %}
            <tr style="background-color: white;color: #444;">
              <td>{{item[0]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[1]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[2]}} ₭</td>
              <!-- <td>
                <a href="#" class="select_pro"
                  value="{{item[3]}}">
                  <button type="button" class="btn btn-success"
                    style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                    <i class="bi bi-check-square" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<!-- Modal_Customer-->
<div class="modal fade" id="Modal_Cust" tabindex="-1" aria-labelledby="Modal_CustLabel" aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.678);" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content"
      style="border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;width: 800px;border: 5px solid #fff;">
      <div class="modal-header" style="background-color: #232629; color: #fff;">
        <h5 class="modal-title" id="Modal_CustLabel">ເລືອກລູກ​ຄ້າ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        style="background-color: #EFEFEF;color: #fff;font-weight: 700;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">

        <div class="row my-3" style="justify-content: flex-end;margin-bottom: -5px;">
            <div class="col-1 text-end">
              <label for="usr" style="font-weight: bold;color: #232629;">ຄົ້ນຫາ:</label>
            </div>
            <div class="col-3">
              <input id="myInput_Cust" type="text" placeholder="" style="border-radius: 15px; border: 3px solid #444;">
            </div>
        </div>

        <table class="table table-sm table-hover table-striped" id="Ratetable">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:20%;font-size: 11pt;">ລະຫັດລູກ​ຄ້າ</th>
              <th scope="col" style="width:25%;font-size: 11pt;">ຊື່ລູກ​ຄ້າ</th>
              <th scope="col" style="width:15%;font-size: 11pt;">ທີ່ຢູ່</th>
              <th scope="col" style="width:20%;font-size: 11pt;">ເບີໂທ</th>
              <th scope="col" style="width:8%;font-size: 11pt;">Action</th>
            </tr>
          </thead>
          <tbody id="myTable_Cust">
            {% for item in cust_list %}
            <tr style="background-color: white;color: #444;">
              <td style="text-align: center;font-size: 12pt;">{{item[0]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[1]}}</td>
              <td style="text-align: center;font-size: 10pt;">{{item[2]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[3]}}</td>
              <td>
                <a href="#" class="helloCust" data-id="{{item[0]}}" data-id1="{{item[0]}}" data-id-cname="{{item[1]}}" data-id-cname1="{{item[1]}}">
                  <button type="button" class="btn btn-success"
                    style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                    <i class="bi bi-check-square" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<!-- Modal_Emp -->
<div class="modal fade" id="Modal_Emp" tabindex="-1" aria-labelledby="Modal_EmpLabel" aria-hidden="true"
  style="background-color: rgba(0, 0, 0, 0.678);" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content"
      style="border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;width: 800px;border: 5px solid #fff;">
      <div class="modal-header" style="background-color: #232629; color: #fff;">
        <h5 class="modal-title" id="Modal_EmpLabel">ເລືອກ​ພະ​ນັກ​ງານ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        style="background-color: #EFEFEF;color: #fff;font-weight: 700;border-bottom-left-radius: 14px;border-bottom-right-radius: 14px;">

        <div class="row my-3" style="justify-content: flex-end;margin-bottom: -5px;">
            <div class="col-1 text-end">
              <label for="usr" style="font-weight: bold;color: #232629;">ຄົ້ນຫາ:</label>
            </div>
            <div class="col-3">
              <input id="myInput_emp" type="text" placeholder="" style="border-radius: 15px; border: 3px solid #444;">
            </div>
        </div>

        <table class="table table-sm table-hover table-striped" id="Ratetable">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:20%;font-size: 11pt;">ລະຫັດພະ​ນັກ​ງານ</th>
              <th scope="col" style="width:25%;font-size: 11pt;">ຊື່ພະ​ນັກ​ງານ</th>
              <th scope="col" style="width:15%;font-size: 11pt;">ທີ່ຢູ່</th>
              <th scope="col" style="width:20%;font-size: 11pt;">ເບີໂທ</th>
              <th scope="col" style="width:8%;font-size: 11pt;">Action</th>
            </tr>
          </thead>
          <tbody id="myTableEmp">
            {% for item in emp_list %}
            <tr style="background-color: white;color: #444;">
              <td style="text-align: center;font-size: 12pt;">{{item[0]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[1]}}</td>
              <td style="text-align: center;font-size: 10pt;">{{item[2]}}</td>
              <td style="text-align: center;font-size: 12pt;">{{item[3]}}</td>
              <td>
                <a href="#" class="helloEmp" data-id="{{item[0]}}" data-id1="{{item[0]}}" data-id-name="{{item[1]}}" data-id-name1="{{item[1]}}">
                  <button type="button" class="btn btn-success"
                    style="margin-top: -8px;margin-left: 30px;border-bottom: 4px solid #218838;border-radius: 12px;">
                    <i class="bi bi-check-square" style="padding-right: 5px;font-size: 10pt;"></i>ເລືອກ
                  </button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<!-- javascript -->
<script>
//ເຊື່ອງ div && button
  document.getElementById("qty").readOnly = true;
  document.getElementById('add').style.display = 'none';

  $(document).ready(function(){
    if(localStorage.getItem("itmEmployee") == "Yes")
        $("#employed_v1").prop("checked", true);
    else
        $("#employed_v0").prop("checked", true);

    if(localStorage.getItem("itmEmployee") == "Yes")
    {
        // $("#test").prop("disabled", false);
        $("#cust_name2").prop("disabled", true);
        $("#nocust").prop("style").display="block";
        $("#nocust").prop("disabled", false);
        $("#showcust").prop("style").display="none";
    }
    else
    {
        // $("#test").prop("disabled", true);
        $("#cust_name2").prop("disabled", false);
        $("#nocust").prop("style").display="none";
        $("#nocust").prop("disabled", true);
      }

    // $("#test").val(localStorage.getItem("itmTest"));
    $("#cust_name2").val(localStorage.getItem("itmTest"));
    $("#nocust").val(localStorage.getItem("itmTest"));
    var cust_name2 = sessionStorage.getItem('cust_name2');
    if (cust_name2 !== null) $('#cust_name2').val(cust_name2);

    $("[name=employed]").on("change", function(){
        localStorage.setItem("itmEmployee", $(this).val());

        if($(this).val() == "Yes")
        {
            // $("#test").prop("disabled", false);
            $("#cust_name2").prop("disabled", true);
            $("#showcust").prop("style").display="none";
            $("#nocust").prop("style").display="block";
            $("#nocust").prop("disabled", false);
        }
        else
        {
            // $("#test").prop("disabled", true);
            $("#cust_name2").prop("disabled", false);
            $("#showcust").prop("style").display="block";
            $("#nocust").prop("style").display="none";
            $("#nocust").prop("disabled", true);
        }
    });

    // $("#test").on("change", function(){
    //     localStorage.setItem("itmTest", $(this).val());
    // });

    $("#cust_name2").on("change", function(){
        localStorage.setItem("itmTest", $(this).val());
        sessionStorage.setItem("cust_name2", $('#cust_name2').val());
    });

    $("#nocust").on("change", function(){
        localStorage.setItem("itmTest", $(this).val());
    });

    $("#showcust").on("change", function(){
        localStorage.setItem("itmTest", $(this).val());
    });
});
  
  // function hideshow() {
  //   document.getElementById('cust_name2').style.display = 'block';
  //   document.getElementById('cust_name2').disabled = false;
  //   // document.getElementById('nocust').style.display = 'none';
  //   document.getElementById('cust_id').disabled = true;
  //   document.getElementById('cust_id1').disabled = true;
  //   document.getElementById('cust_name').disabled = true;
  //   document.getElementById('cust_name1').disabled = true;
  // }
// alert ເວລາກົດປຸ່ມລົບ
  function deleteitem(id) {
    swal({
      title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
      text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
      type: 'question',
      showCancelButton: true,
      cancelButtonColor: '#3085d6',
      confirmButtonColor: '#d33',
      confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
      cancelButtonText: 'ບໍ່,ກັບຄືນ!',
    }).then(function () {
      location.href = "/delete_withdraw_detail/" + id;
    })
  }
  function openmodal_Cust(input) {
    $('#Modal_Cust').modal('show');
    $(".helloCust").unbind().click(function (event) {
      $("input[id='cust_id']").val($(this).attr("data-id"));
      $("input[id='cust_id1']").val($(this).attr("data-id1"));
      $("input[id='cust_name']").val($(this).attr("data-id-cname"));
      $("input[id='cust_name1']").val($(this).attr("data-id-cname1"));
      $('#Modal_Cust').modal('hide');
    });
  }
  // modal ຜູ້ສະໜອງ
  function openmodal_Emp(input) {
    $('#Modal_Emp').modal('show');
    $(".helloEmp").unbind().click(function (event) {
      $("input[id='emp_id']").val($(this).attr("data-id"));
      $("input[id='emp_id1']").val($(this).attr("data-id1"));
      $("input[id='emp_name']").val($(this).attr("data-id-name"));
      $("input[id='emp_name1']").val($(this).attr("data-id-name1"));
         $('#Modal_Emp').modal('hide');
     });
   }


//ຄົ້ນຫາ supplier
  $(document).ready(function () {
    $("#myInput_Cust").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable_Cust tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  function openmodal(input) {
    $('#Modal_listpro').modal('show');
    }
// submit form ic_trans & trans_draft
  // submitForms = function(){
  //   document.getElementById("Form1").submit();
  //   document.getElementById("Form2").submit();
  // }
// alert ເມື່ອ ບໍ່ໄດ້ເລືອກສິນຄ້າ
  // function alert() {
  //   const input = document.getElementById('p_id');
  //   if (input.value === "") {
  //     alert("ກະລຸນາເລືອກສິນຄ້າ"); // This will prevent the Form from submitting
  //     return false;
  //   } else {
  //     return true; // this will submit the form and handle the control to php.
  //   }
  // }

  //ເກັບ​ຄ່າ input ເມື່ອ refresh
window.onload = function() {

if (sessionStorage.getItem('member_nm') == "member_nm") {
  return;
}

var cust_id = sessionStorage.getItem('cust_id');
if (cust_id !== null) $('#cust_id').val(cust_id);

var cust_id1 = sessionStorage.getItem('cust_id1');
if (cust_id1 !== null) $('#cust_id1').val(cust_id1);

var cust_name = sessionStorage.getItem('cust_name');
if (cust_name !== null) $('#cust_name').val(cust_name);

var cust_name1 = sessionStorage.getItem('cust_name1');
if (cust_name1 !== null) $('#cust_name1').val(cust_name1);

var cust_name2 = sessionStorage.getItem('cust_name2');
if (cust_name2 !== null) $('#cust_name2').val(cust_name2);

var emp_id = sessionStorage.getItem('emp_id');
if (emp_id !== null) $('#emp_id').val(emp_id);

var emp_id1 = sessionStorage.getItem('emp_id1');
if (emp_id1 !== null) $('#emp_id1').val(emp_id1);

var emp_name = sessionStorage.getItem('emp_name');
if (emp_name !== null) $('#emp_name').val(emp_name);

var emp_name1 = sessionStorage.getItem('emp_name1');
if (emp_name1 !== null) $('#emp_name1').val(emp_name1);

var remark = sessionStorage.getItem('remark');
if (remark !== null) $('#remark').val(remark);

var remark1 = sessionStorage.getItem('remark1');
if (remark1 !== null) $('#remark1').val(remark1);

var payment = sessionStorage.getItem('payment');
if (payment !== null) $('#payment').val(payment);
}

window.onbeforeunload = function() {
sessionStorage.setItem("cust_id", $('#cust_id').val());
sessionStorage.setItem("cust_id1", $('#cust_id1').val());
sessionStorage.setItem("cust_name", $('#cust_name').val());
sessionStorage.setItem("cust_name1", $('#cust_name1').val());
sessionStorage.setItem("cust_name2", $('#cust_name2').val());
sessionStorage.setItem("emp_id", $('#emp_id').val());
sessionStorage.setItem("emp_id1", $('#emp_id1').val());
sessionStorage.setItem("emp_name", $('#emp_name').val());
sessionStorage.setItem("emp_name1", $('#emp_name1').val());
sessionStorage.setItem("remark", $('#remark').val());
sessionStorage.setItem("remark1", $('#remark1').val());
sessionStorage.setItem("payment", $('#payment').val());
}

$("#remark1").keyup(function () {
    var value = $(this).val();
    $("#remark").val(value);
    }).keyup();

    $("#cust_name2").keyup(function () {
    var value = $(this).val();
    $("#cust_id").val(value);
    }).keyup();

// ເມື່ອ​ກົດ​ປຸ່ມ​ຍົກ​ເລີກ​ໃຫ້​ລ້າງ​ຄ່າ​ຢູ່ input
function Reset()
{
  document.getElementById("cust_id1").value = "";
  document.getElementById("cust_name1").value = "";
  document.getElementById("cust_name2").value = "";
  document.getElementById("emp_id1").value = "";
  document.getElementById("emp_name1").value = "";
  document.getElementById("remark1").value = "";
}

var textboxVal; // Will make textboxVal accesible on all subsequent code
function closeModal() {
  textboxVal = document.getElementById('textboxId').value;
  $('#Modal_listpro').modal('hide');
  openOtherModal();
}

// function myFunction() {
//   var table = document.getElementById("insertdata");
//   var row = table.insertRow(1);
//   var cell1 = row.insertCell(0);
//   var cell2 = row.insertCell(1);
//   var cell3 = row.insertCell(2);
//   var cell4 = row.insertCell(3);
//   var cell5 = row.insertCell(4);
//   cell2.innerHTML = document.getElementById("p_id").value;
//   cell3.innerHTML = "NULL";
//   cell4.innerHTML = document.getElementById("wd_qty").value;
//   cell5.innerHTML = "NULL";
// }

$('select.replace').wrap('<div class="select-replacement-wrapper"></div>');

// Replace placeholder text with select's initial value
$('.select-replacement-wrapper').each(function() {
	$(this).prepend('<a>' + $('select option:selected', this).text() + '</a>');
});

// Update placeholder text with updated select value
$('select.replace').change(function(event) {
  $(this).siblings('a').text( $('option:selected', this).text() );
});

function show_price() {
    var x = document.getElementById("service_id").value;
    fetch('pricepredict/' + x).then(function (response) {
      response.json().then(function (data) {
        for (price_ of data.pricelist) {
          price.value = price_[0];
        }
        // unit_clothes.innerHTML = "" + optionHTML;
        // price.innerHTML = "<option value='' selected hidden>--ເລືອກ--</option>" + optionHTML;
        // price.innerHTML = price_[0];
      });
    });
    document.getElementById("qty").readOnly = false;
    document.getElementById('add').style.display = 'block';
  }

  // function total() {
  //       // var price = document.getElementById("price").value;
  //       var a = document.getElementById("a").value;
  //       var qty = document.getElementById("qty").value;
  //       var total = price * a;
  //       document.getElementById("total_").value = total;
        
  //   }

    function myFunction() {
        var qty = document.getElementById("qty").value;
        var a = document.getElementById("price").value;
        var total = qty * a;
        document.getElementById("pay_rc").value = Math.round(total);
         
    }
</script>
{% endblock %}