/* body {
  margin: 0;
  font-family: Arial;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#bgDark{
  /* position: fixed; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.406);
}

#lgin:active,#sgup:active{
  background: #fff !important;
    color: #dc1773 !important;
}

#forminput{
  background-color: rgba(0, 0, 0, 0.414) !important;
  color: #fff !important;
  width: 300px !important;
}
#hover_link_sgup:hover{
  color: #fff !important;
}