.modal.fade .modal-dialog{
    -webkit-transform: translate(30,30);
    transform: translate(30,30);
  }
  
  .zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: .1s all 0s;
    -moz-transition: .1s all 0s;
    -ms-transition: .1s all 0s;
    -o-transition: .1s all 0s;
    transition: .1s all 0s;
    display: block !important;
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform:none;
  }
  