@font-face {
    font-family: Medium;
    src: url(../fonts/FontsFree-Net-ProductSans-Medium.ttf);
}
nav,
a {
    font-family: "phetsarath ot";
    /* position: fixed;
    top:0;
    left: 0;
    right: 0; */
}

a.navbar-brand{
    font-family: "Medium" !important;
}

body {
    background-color: #EFEFEF !important;
    /* background-color:#bf9400 #EFEFEF; */
    font-family: "phetsarath ot";
}

table {
    font-family: "phetsarath ot";
    border-collapse: collapse;
    /* width: 40%; */
}

td,
th {
    border: 0.5px solid darkcyan;
    text-align: center;
    padding: 5px;
    height: 2%;
    font-size: 12px;
}

.card-header {
    background-color: darkslategrey;
    color: white;
    border-bottom: 1px solid whitesmoke;
}

#bitrash {
    font-size: 18px;
    margin-left: 10px;
    color: red;
}

.swal2-title,
.swal2-content,
.swal2-confirm,
.swal2-cancel {
    font-family: phetsarath ot;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #5E005F;
    border-radius: 8px;
    font-weight: 700;
}
.navbar-dark .navbar-nav .show>.nav-link{
    background-color: #5E005F;
    border-radius: 8px;
    font-weight: 700;
}
.nav-link{
    margin-left: 5px;
}
.dropdown-divider{
    border-top: 1px solid #5E005F !important;
}
.dropdown-menu{
    border: 2px solid #5E005F !important;
    background-color: #fffdfd !important;
}
.dropdown-item{
    font-weight: bold !important;
}
.dropdown-item:hover{
    background-color: #ff00ff34 !important;
    color: #000 !important;
}
.dropdown-item:active{
    background-color: #007ACC;
    font-weight: bold;
}
