
.topbar{
    background-color: deeppink;
    width: 110%;
    height: 55px;
    top: -30;
    left: -3;
    position: fixed;
}
.menu{
    background-color: black;
    width: 110%;
    height: 95px;
    opacity: 0.65;
    top: 20;
    left: -3;
    position: fixed;
    box-shadow: 10px 2px 3px pink;
    display: inline-block;
    z-index: 2;
}
.discover{
    background-color: black;
    width: 110%;
    height: 1000px;
    opacity: 0.9;
    top: 110;
    left: -3;
    position: fixed;
    box-shadow: 10px 2px 3px pink;
}
.discover ul{
    display: inline-flex;
    width: 570px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 85px;
    margin: 0px auto 0px auto;
    border-top: 2px double #000;
    border-bottom: 1px double #000;
    text-align: center;
}
.discover li img{
    margin: 0px 20px;
}
/*
button{
    border: 1px solid blue;
    margin-top: 90px;
    z-index: 3;
    position: fixed;
}
*/
button.p-Rcard{
    margin-top: 35px;
    color: white;
    background-color: deeppink;
    width: 150px;
    height: 50px;
    font-size: 22px;
    font-family: sans-serif;
}
.bg{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            min-width: 100%;
            z-index: -1;

        }
.sound{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: -2;
        }
img.open-card{
    padding: 30px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
img.open-card:hover{
    transform: scale(1.5);
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/****************/
.menu ul{
    display: inline-flex;
    align-items: center;
    margin-left: -5px;
    margin-top: -43px;
}
.menu ul li{
    display: inline-flex;
    align-items: center;
    padding: 50px;
}
ul li.logoaespa, li.logofx{
    display: none;
    visibility: hidden;
}
