<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        Change Image Dynamically when User Scrolls
    </title>
    <link rel="stylesheet" href="Lobby.css">
</head>
  
<body>
   
    <div class="topbar">
        <ul>
            <li class="profile"><img src="profile/5508.i.png" alt="" class="pf"><p class="text-profile">Sehun_94</p><img src="icon/platimium.png" alt="" class="platinium"></li>
            <li class="headphone"><a href="Shop.html"><img src="icon/953.png" alt="" class="hp"><p class="text-max">MAX</p><p class="text-headphone">22</p></a></li>
            <li class="RP"><a href="Shop.html"><img src="icon/954.png" alt="" class="rp"><p class="text-RP">9,259,350</p></a></li>
            <li class="diamond"><a href="Shop.html"><img src="icon/955.png" alt="" class="dm"><p class="text-diamond">61,550</p></a></li>
            <li class="special"><img src="icon/956.png" alt="" class="sp"></li>
            <li class="message"><img src="icon/957.png" alt="" class="ms"><p class="text-message">MESSAGE</p></li>
            <li class="menu"><img src="icon/958.png" alt="" class="mn"></li>
        </ul>
    </div>
    
    <div class="lobbyscreen">
        <img src="icon/newsong.png" alt="" class="newsong">
        <img src="icon/Event.png" alt="" class="Event">
        <img src="icon/timing.png" alt="" class="timing">
        <img src="icon/Rank.png" alt="" class="Rank">
    </div>
    
    <div class="effect">
        <img src="effect/effectlobby_2.gif" alt="" class="effectlobby">
        <img src="effect/effectrank_2.gif" alt="" class="effectrank">
    </div>
    
    <div class="sound">
        <audio controls loop autoplay class="sound-lobby">
          <source src="sound/bgm_main.a.mp3" type="audio/mp3">
        </audio>
    </div>
    <div id="scroll-image">
        <img src=
"bg/li/178_3.png" 
             class="test" />
        <img src=
"bg/li/178_4.png" 
             class="test" />
        <img src=
"bg/li/138_l.i.png" 
             class="test" />
        <img src=
"bg/li/111_l.i.png" 
             class="test" />
        <img src=
"bg/li/157_2.png" 
             class="test" />
        <img src=
"bg/li/180_2.png" 
             class="test" />
        <img src=
"bg/li/177_l.i.png" 
             class="test" />
        <img src=
"bg/li/178_2.png" 
             class="test" />
        <img src=
"bg/li/170_l.i.png" 
             class="test" />
        <img src=
"bg/li/172_l.i.png" 
             class="test" />
        <img src=
"bg/li/181_l.i.png" 
             class="test" />
             
    </div>
    <div class="bottombar">
        <ul>
            <li class="inventory"><img src="icon/inventory.png" alt="" class="inv"></li>
            <li class="collection"><img src="icon/collection.png" alt="" class="col"></li>
            <li class="mission"><img src="icon/mission.png" alt="" class="mis"></li>
            <li class="shop"><a href="Shop.html"><img src="icon/shop.png" alt="" class="sh"></a></li>
            <li class="ready"><img src="icon/ready.png" alt="" class="rea"></li>
        </ul>
    </div>
  
    <script>
        startImageTransition();
  
        function startImageTransition() {
            var images = document.getElementsByClassName("test");
  
            for (var i = 0; i < images.length; ++i) {
                images[i].style.opacity = 1;
            }
  
            var top = 1;
  
            var cur = images.length - 1;
  
            setInterval(changeImage, 9000);
  
            async function changeImage() {
  
                var nextImage = (1 + cur) % images.length;
  
                images[cur].style.zIndex = top + 1;
                images[nextImage].style.zIndex = top;
  
                await transition();
  
                images[cur].style.zIndex = top;
  
                images[nextImage].style.zIndex = top + 1;
  
                top = top + 1;
  
                images[cur].style.opacity = 1;
                
                cur = nextImage;
  
            }
  
            function transition() {
                return new Promise(function(resolve, reject) {
                    var del = 0.01;
  
                    var id = setInterval(changeOpacity, 10);
  
                    function changeOpacity() {
                        images[cur].style.opacity -= del;
                        if (images[cur].style.opacity <= 0) {
                            clearInterval(id);
                            resolve();
                        }
                    }
  
                })
            }
        }
    </script>
    
</body>
  
</html>