<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Obtain35000_2.css">
</head>
<body>
    
    <div id="all_o3">
    <div class="bg_o1">
    <video loop muted autoplay class="bg-video_o1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_o1">
        <img src="icon/bg-purchase.png" alt="" class="brown_o1">
    </div>
    
    <div class="product_o1"></div>
    
<!--
    <div class="card_o1">
        <img src="icon/backcard.png" alt="" class="mycard_o1">
    </div>
-->
    
    <div class="exit-button_o1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_o1"></div>
    
    <div class="text-content_o1"><p class="purchase_o1">PURCHASE</p></div>
    
    <div class="text-detail_o1">
    <p class="suggest_o1">Touch to open!</p>
    </div>
    
    <div class="theproduct_o1">
        <p class="name-product_o1">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_o1">
        <a href="Obtain35000_3.html"><div class="buy_o1" onmousedown="bleep2.play()"><p class="text_o1">NEXT</p></div>
        </a>
    </div>
    
<!--
     <div class="buttonequip_o1">
        <a href="#"><div class="buyequip_o1" onmousedown="bleep4.play()" id="equip" onclick="changecolor()"><p class="textequip_o1">AUTO EQUIP</p></div>
        </a>
    </div>
-->
    </div>
    
    
    
    
    
    
    <div id="successful">
        <link rel="stylesheet" href="Purchase_Successful.css">
        <div class="bg_pc">
    <video loop muted autoplay class="bg-video_pc">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_pc">
        <img src="icon/bg-purchase.png" alt="" class="brown_pc">
    </div>
    
    <div class="product_pc">
        <img src="icon/inside_EXO590.png" alt="" class="exo590_pc">
    </div>
    
    <div class="exit-button_pc" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_pc"></div>
    
    <div class="text-content_pc"><p class="purchase_pc">PURCHASE</p></div>
    
    <div class="text-detail_pc">
    <p class="Question_pc">Purchase successful.</p>
    </div>
    
    <div class="theproduct_pc">
        <p class="name-product_pc">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_pc">
        <a href="Shop.html"><div class="buy_pc" onmousedown="bleep02.play()"><p class="text_pc">OK</p></div></a>
    </div>
    </div>
    
    <script src="ok.js"></script>
    
    <audio controls autoplay>
  <source src="Card10recei.mp3" type="audio/mpeg">
</audio>
   <audio controls loop autoplay>
          <source src="sound/bgm_shop.a.mp3" type="audio/mp3">
        </audio>
    
    <div id="framecard">
    <script src="Obtain35000_2.js"></script>
    </div>
    
</body>