{% extends "layout/layout.html" %} {% block title %}LOBBY{% endblock %} {% block
    head %}
    <style>
      #hide_navbar {
        display: none;
      }
      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
      #lgin:active,#sgup:active{
      background: #fff !important;
        color: #dc1773 !important;
        font-weight: bold;
    }
    #open_exo{
        display: none;
    }
    #img_exit{
        display: none;
    }
    
    #img_backcard{
        transition: transform 0.85s;
    }
    #img_backcard:hover{
        transform: scale(1.10);
        transition: 0.8s;
    }
    /* randomcard */
    img.R_Card_EXO590{
  width: 200px;
  position: fixed;
  top: 19.6%;
  left: 39.5%;
  z-index: 2;
  animation-name: stretch;
  animation-duration: .2s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
img.R_Card_EXO590::before, 
img.R_Card_EXO590::after{
    content: '';
    display: block;
    position: fixed;
    left: 500px;
    right: 500px;
    top: 35px;
    bottom: 35px;
    border-radius: 20px;
    animation-name: stretch; 
    opacity: 0;
    backface-visibility: hidden;
    z-index: 2;
}
img.R_Card_EXO590::after{
    animation-delay: .27s;
    position: fixed;
    z-index: 2;
}
@keyframes stretch{
    0%{
        transform: scale(1.85);
        
    }
    25%{
        transform: scale(1.75);
    }
    50%{
        transform: scale(1.55);
    }
    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
    </style>
    {{ super() }} {% endblock %} {% block content %}
    <br />
    <!-- video -->
    <video autoplay muted loop id="myVideo">
      <source
        src="{{ url_for('static',filename='video/bgm_login.mp4') }}"
        type="video/mp4"
      />
    </video>
    
    <div id="inside_exo">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
    
                <div
              class="col-sm-10 text-center"
              style="background-color: rgba(68, 68, 68, 0.601); border-radius: 15px"
            >
              <div
                class="row mt-2 p-2 ml-3 mr-1"
                style="
                  justify-content: end;
                  color: #fff;
                  /* background-color: rgba(68, 68, 68, 0.568); */
                  border-radius: 15px;
                "
              >
                <img src="{{ url_for('static',filename='images/icon/exit.png') }}" alt="" width="30" height="30" onclick="exit_open_exo()" id="img_exit">
              </div>
              <br>
              <div class="row mt-3" style="justify-content: center; color: #fff">
                <img
                  src="{{ url_for('static',filename='images/backcard.png') }}"
                  alt=""
                  width="200"
                  id="img_backcard"
                  onmousedown="bleep.play()"
                  style="visibility: hidden;"
                />
              </div>
              
              <div class="row mt-3 mb-3" style="justify-content: center; color: #fff">
                <a href="/obtain_exo_590_3" onmousedown="bleep2.play()">
                <button
                  class="btn"
                  style="
                    background-color: #ea027d;
                    color: #fff;
                    width: 200px;
                    font-size: 14pt;
                    height: 50px;
                    font-weight: bold;
                  "
                  id="lgin"
                  onclick="exit_open_exo()"
                >
                  NEXT
                </button>
                </a>
                <!-- <p style="color: #04E458;font-size: 16pt;font-weight:500;">Touch to open!</p> -->
              </div>
                </div>
    
            
            </div>
    
            <div class="col-sm-1"></div>
        </div>
    </div>
    
    <script>
    var z;
    function open_exo(){
        if(z==1){
            document.getElementById("inside_exo").style.display="none";
            document.getElementById("open_exo").style.display="inline";
            return z=0;
        }
        else{
            document.getElementById("inside_exo").style.display="none";
            document.getElementById("open_exo").style.display="inline";
            return z=1;
        }
    }
    
    function exit_open_exo(){
        if(z==1){
            document.getElementById("inside_exo").style.display="inline";
            document.getElementById("open_exo").style.display="none";
            return z=0;
        }
        else{
            document.getElementById("inside_exo").style.display="inline";
            document.getElementById("open_exo").style.display="none";
            return z=1;
        }
    }
    
    var bleep = new Audio();
        bleep.src = "{{ url_for('static',filename='sound/openpremium.a.mp3') }}";
    var bleep2 = new Audio();
        bleep2.src = "{{ url_for('static',filename='sound/decide.a.mp3') }}";
        var bleep3 = new Audio();
        bleep3.src = "{{ url_for('static',filename='sound/cardreceive.a.mp3') }}";

    //random
    var num = 0;
num = Math.floor(Math.random() * 100);
    //Normal 
    if (num < 17) {
        var images = [],
        index = 0;
images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num < 33) {
        var images = [],
        index = 0;
images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num < 49) {
        var images = [],
        index = 0;
images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num < 65) {
        var images = [],
        index = 0;
        images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num < 81) {
        var images = [],
        index = 0;
        images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num < 97) {
        var images = [],
        index = 0;
        images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }

    if (num > 96 && num < 100) {
        var images = [],
        index = 0;
        images[0] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_suho.png') }}' class='R_Card_EXO590'>";
images[1] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_beakhyun.png') }}' class='R_Card_EXO590'>";
images[2] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_chanyeol.png') }}' class='R_Card_EXO590'>";
images[3] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_DO.png') }}' class='R_Card_EXO590'>";
images[4] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_kai.png') }}' class='R_Card_EXO590'>";
images[5] = "<img src='{{ url_for('static',filename='images/EXO/Merry/A_sehun.png') }}' class='R_Card_EXO590'>";
index = Math.floor(Math.random() * images.length);
  document.write(images[index]);
    }
    </script>
    {% endblock %}
    