
{% extends "layout/layout.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
  
{% block content %}
<style>
  td {border: none !important;text-align: right;padding-right: 10px;}
  .defaultpic {
  width: 100%;
  height: auto;
}
</style>
<br>
<div class="container d-flex justify-content-center">
  <div class="card" style="width: 75%">
    <div class="card-body" style="background-color:whitesmoke;">
      <div class="row">
        <div class="col-sm-12">
          <div class="card" style="background-color: whitesmoke;color: white;">
            <div class="card-header">
              <center>
                <h3>ຈັດ​ການ​ໂປ​ຣ​ໄຟ​ລ໌</h3>
              </center>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                  $(".alert-dismissible").alert('close');
                });
              </script>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
            <div class="card-body">
                    <br>
                <div>
                    <div class="row">
                      <div class="col-8">
                    <table class="table-responsive mt-2 text-black">
                      
                        <tr>
                            <td><strong>​ລະ​ຫັດ​ໄອ​ດີ:</strong></td>
                            <td style="text-align: left;">{{ account[0] }}</td>
                        </tr>
                        <tr>
                            <td><strong>​​ຊື່​ ນາມ​ສະ​ກຸນ:</strong></td>
                            <td style="text-align: left;">{{ account[1] }}</td>
                        </tr>
                        <tr>
                            <td>​<strong>ບ້ານ:</strong></td></strong>
                            <td style="text-align: left;">{{ account[2] }}</td>
                        </tr>
                        <tr>
                        <tr>
                            <td><strong>​ເມືອງ:</strong></td>
                            <td style="text-align: left;">{{ account[3] }}</td>
                        </tr>
                        <tr>
                            <td><strong>​ແຂວງ:</strong></td>
                            <td style="text-align: left;">{{ account[4] }}</td>
                        </tr>
                        <tr>
                            <td><strong>​ເບີ​ໂທ:</strong></td>
                            <td style="text-align: left;">{{ account[5] }}</td>
                        </tr>
                        <!-- <tr>
                            <td>Name:</td>
                            <td>{{ account[6] }}</td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td>{{ account[7] }}</td>
                        </tr> -->
                        <tr>
                            <td><strong>ເພດ:</strong></td>
                            <td style="text-align: left;">{{ account[8] }}</td>
                        </tr>
                        <tr>
                            <td>​<strong>ວັນ​ທີ​ເດືອນ​ປີ​ເກີດ:</strong></td>
                            <td style="text-align: left;">{{ account[9] }}</td>
                        </tr>
                    </table>

                  </div>
                  <div class="col-4 align-middle align-self-center">
                      <center>
                      {% if account[10] %}
                        <!-- <img src="{{ url_for('display_image', filename=filename) }}"> -->
                        <img src="{{ url_for('static', filename='uploads/' + account[10])}}" width="150" height="150" style="border-radius: 50%">
                      {% else %}
                      <img src="{{url_for('static',filename='images/Default.png')}}" width="150" height="auto" class="defaultpic">
                      {% endif %}
                      <h5>{{ account[1]}}</h5>
                    </center>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<center>
<div class="card mt-4" style="width: 60%; color: white;">
  <div class="card-header">
    <h5>ອັບ​ເດດໂປ​ຣ​ໄຟ​ລ໌</h5>
    {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                  $(".alert-dismissible").alert('close');
                });
              </script>
              {% endfor %}
              {% endif %}
              {% endwith %}
  </div>
  <div class="card-body" style="background-color:whitesmoke;">

  	<form class="text-black" action="/profile" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label for="name">ລະຫັດພະນັກງານ:</label>
          <input type="text" class="form-control" name="cust_id" value="{{account[0]}}" readonly>
      </div>
      <div class="form-group">
          <label for="No_id">ຊື່ພະ​ນັກ​ງານ:</label>
          <input type="text" class="form-control" name="cust_name" value="{{account[1]}}">
      </div>
      <div class="row">
          <div class="col-xs" style="width: 20px;margin-left: -25px;"></div>
          <div class="col-sm-4">
            <label for="exampleFormControlSelect1">ແຂວງ</label>
            <!-- <input class="form-control" type="text" value="" required name="sup_province"> -->
            <select id="cust_province" name="cust_province" class="form-control form-control-sm" onchange="show_city()">
              <option selected value="{{account[11]}}" hidden style="text-align: center;">{{account[4]}}</option>
              {% for items in pro_list %}
              <option value={{items[0]}}>{{items[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-4">
            <label for="exampleFormControlSelect1">ເມືອງ</label>
            <!-- <input class="form-control" type="text" value="" required name="sup_district"> -->
            <select id="cust_district" name="cust_district" class="form-control form-control-sm" onchange="show_village()">
              <option selected value="{{account[12]}}" hidden style="text-align: center;">{{account[3]}}</option>
              {% for items in dis_list %}
              <option value={{items[0]}}>{{items[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-4">
            <label for="exampleFormControlSelect1">ບ້ານ</label>
            <!-- <input class="form-control" type="text" value="" required name="sup_village">                           -->
            <select class="form-control form-control-sm" name="cust_village" id="cust_village">
              <option selected value="{{account[13]}}" hidden style="text-align: center;">{{account[2]}}</option>
              
            </select>
          </div>
        </div>
        <br>
      
      <div class="row">
        <div class="col-sm-4">
            <label for="telephone">ເບີໂທ:</label>
            <input type="number" value="{{account[5]}}" class="form-control" name="cust_tel">
        </div>
        
      <div class="col-sm-3">
            <label for="exampleFormControlSelect1">ເພດ</label>
            <select name="cust_gender" class="form-control form-control-sm" style="text-align: center; height: 38px;">
              <option selected value="{{account[8]}}" hidden>{{account[8]}}</option>
              <option value="ຊາຍ">​ຊາຍ</option>
              <option value="ຊາຍ">​ຍິງ</option>
            </select>
      </div>

        <div class="col-sm-5">
            <label for="exampleFormControlSelect1">ວັນ​ທີ​ເດືອນ​ປີເກີດ</label>
            <input type="date" class="form-control" name="cust_bd" id="cust_bd" value="{{account[9]}}">
        </div>
        </div>
      <br>

      <button type="submit" class="btn btn-primary form-control">ບັນທຶກ</button>
      <hr>
      <div class="d-flex flex-wrap justify-content-around">
      <!-- <button type="reset" style="width: 150px;" class="btn btn-warning">ລ້າງ​ຟອມ</button> -->
      <!-- <button onclick="history.back()" style="width: 150px;" class="btn btn-secondary">ກັບຄືນ</button> -->
      </div>

  </form>



</div>

	
	


</div>
</center>

<script>

// var refresh = true
// setTimeout("location.reload(refresh);", 5000);
// return setTimeout(false);

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
// clearTimeout(false);

// clearTimeout(setTimeout("location.reload(true);", 5000));

// const timeoutId = setTimeout(function(){
//     location.reload();
// }, 5000);

// clearTimeout(timeoutId);
// console.log(`Timeout ID ${timeoutId} has been cleared`);

// setInterval("location.reload(true);", 5000);
// clearInterval("location.reload(true);");
// setInterval(slide, 3000);

// const slideInterval = setTimeout(reloaded, 3000);


// clearInterval(slideInterval);
// function reloaded() {
//   function run() {
//     location.reload();
//     timer = setTimeout(run, 5000);
//   }
//   timer = setTimeout(run, 5000);
//     return stop;

//     function stop() {
//         if (timer) {
//             clearTimeout(timer);
//             timer = 0;
//         }
//     }
// }
function Reset()
{
  document.getElementById("sup_id1").value = "";
  document.getElementById("sup_name1").value = "";
  document.getElementById("remark1").value = "";
}

    function show_city() {
    var y = document.getElementById("cust_province").value;
    fetch('districtpredict/' + y).then(function (response) {
      response.json().then(function (data) {
        optionHTML = '';
        for (city_c of data.districtlist) {
          optionHTML += "<option value='" + city_c[0] + "'>" + city_c[1] + "</option>"
        }
        // unit_clothes.innerHTML = "" + optionHTML;
        cust_district.innerHTML = "<option value='' selected disabled>--ເລືອກ--</option>" + optionHTML;
      });
    });
  }

  function show_village() {
    var z = document.getElementById("cust_district").value;
    fetch('villagepredict/' + z).then(function (response) {
      response.json().then(function (data) {
        optionHTML = '';
        for (village_c of data.villagelist) {
          optionHTML += "<option value='" + village_c[0] + "'>" + village_c[1] + "</option>"
        }
        // unit_clothes.innerHTML = "" + optionHTML;
        cust_village.innerHTML = "<option value='' selected disabled>--ເລືອກ--</option>" + optionHTML;
      });
    });
  }
</script>
{% endblock %}