<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Purchase_EXO150.css">
</head>
<body>
    
    
    <div class="bg_p150">
    <video loop muted autoplay class="bg-video_p150">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_p150">
        <img src="icon/bg-purchase.png" alt="" class="brown_p150">
    </div>
    
    <div class="product_p150">
        <img src="icon/inside_EXO150.png" alt="" class="exo590_p150">
    </div>
    
    <div class="exit-button_p150" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_p150"></div>
    
    <div class="text-content_p150"><p class="purchase_p150">PURCHASE</p></div>
    
    <div class="text-detail_p150">
    <p class="Question_p150">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_p150">
        <p class="name-product_p150">Merry <br>A Card</p>
    </div>
    
    <div class="button_p150">
        <div class="buy_p150" onmousedown="bleep2.play()" onclick="gototouch()"><p class="text_p150">BUY</p></div>
    </div>
    
</body>