<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Purchase_aespa25.css">
</head>
<body>
    
    
    <div class="bg_ap2">
    <video loop muted autoplay class="bg-video_ap2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_ap2">
        <img src="icon/bg-purchase.png" alt="" class="brown_ap2">
    </div>
    
    <div class="product_ap2">
        <img src="icon/inside_aespa25.png" alt="" class="exo590_ap2">
    </div>
    
    <div class="exit-button_ap2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_ap2"></div>
    
    <div class="text-content_ap2"><p class="purchase_ap2">PURCHASE</p></div>
    
    <div class="text-detail_ap2">
    <p class="Question_ap2">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_ap2">
        <p class="name-product_ap2">aespa card<br>Chance for Limited theme</p>
    </div>
    
    <div class="button_ap2">
        <div class="buy_ap2" onmousedown="bleep2.play()" onclick="gototouch35000()"><p class="text_ap2">BUY</p></div>
    </div>
    
</body>