<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Purchase_EXO120.css">
</head>
<body>
    
    
    <div class="bg_p2">
    <video loop muted autoplay class="bg-video_p2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_p2">
        <img src="icon/bg-purchase.png" alt="" class="brown_p2">
    </div>
    
    <div class="product_p2">
        <img src="icon/inside_EXO120.png" alt="" class="exo590_p2">
    </div>
    
    <div class="exit-button_p2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_p2"></div>
    
    <div class="text-content_p2"><p class="purchase_p2">PURCHASE</p></div>
    
    <div class="text-detail_p2">
    <p class="Question_p2">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_p2">
        <p class="name-product_p2">Merry <br>PREMIUM PACK 10</p>
    </div>
    
    <div class="button_p2">
        <div class="buy_p2" onmousedown="bleep2.play()" onclick="gototouch()"><p class="text_p2">BUY</p></div>
    </div>
    
</body>