<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Purchase_aespa390.css">
</head>
<body>
    
    
    <div class="bg_ap1">
    <video loop muted autoplay class="bg-video_ap1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_ap1">
        <img src="icon/bg-purchase.png" alt="" class="brown_ap1">
    </div>
    
    <div class="product_ap1">
        <img src="icon/inside_aespa390.png" alt="" class="exo590_ap1">
    </div>
    
    <div class="exit-button_ap1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_ap1"></div>
    
    <div class="text-content_ap1"><p class="purchase_ap1">PURCHASE</p></div>
    
    <div class="text-detail_ap1">
    <p class="Question_ap1">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_ap1">
        <p class="name-product_ap1">aespa <br>PREMIUM PACK 30</p>
    </div>
    
    <div class="button_ap1">
        <div class="buy_ap1" onmousedown="bleep2.play()" onclick="gototouch35000()"><p class="text_ap1">BUY</p></div>
    </div>
    
</body>