{% extends "layout/layout.html" %}
{% block title %}ເບີກ​ຈ່າຍສິນ​ຄ້າ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
  .dataTables_empty {
    color: #000;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #007BFF;
    color: white !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
    font-size: 13pt;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #0069D9;
    color: white !important;
    border: 2px solid #fff !important;
    border-radius: 5px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #444;
    color: white !important;
    border-radius: 5px;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 15px;
    border: 3px solid #444;
  }

  div.dataTables_wrapper div.dataTables_filter label,
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_info,
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 800;
  }

  tr.even {
    background-color: #E7E9EB !important;
  }

  table.dataTable,
  table.dataTable th,
  table.dataTable td {
    border: 1px solid rgba(68, 68, 68, 0.205);
  }

  table#insertdata,
  table#insertdata th,
  table#insertdata td {
    border: 2px solid rgba(68, 68, 68, 0.205);
  }

  table#insertdata td {
    font-size: 12pt;
    color: #232629;
    font-weight: 600;
    background-color: #fff;
  }

  table#insertdata tbody tr:nth-child(even) {
    background-color: #E7E9EB !important;
  }

</style>
<div class="col-sm" style="z-index: 5;position: absolute;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
      $(".alert-dismissible").alert('close');
    });
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<!-- <br> -->
<div class="container col-sm-11">
  <div class="card">
    <div class="card-body" style="margin-top: -10px;">
      <div class="row">
        <div class="col-sm"
          style="padding-top: 10px;padding-right: 15px;box-shadow: 0px 0px 10px 1px #444;border-radius: 12px;width: 1080px;padding-left: 15px;">
          <div class="card-header text-white"
            style="font-weight: bold;background-color: #232629;border-top-left-radius: 14px;border-top-right-radius: 14px;text-align: center;">


            <h5><i class="bi bi-box" style="padding-right: 5px;"></i>ລາຍ​ລະ​ອຽດ​ການ​ບໍ​ລິ​ການ</h5>

          </div>
          <!-- <form class="" action="/" method="post" style="font-weight: bold;" id="FormAll"> -->
          <form class="" action="/service_about/{{show[1]}}" method="post" style="font-weight: bold;" id="Form1">
          <!-- save and exit -->
          
          <!-- <form class="" action="/pick_save" method="post" style="font-weight: bold;" id="myForm"> -->

          <div class="container my-3" style="border: #000 solid 1px;">
            <div class="row justify-content-start">
              <div class="col-1 text-end" style="border: #000 solid 1px;">
                <label for="usr">ວັນທີ:</label>
              </div>
              <div class="col-3" style="border: #000 solid 1px;">
                <input type="text" class="form-control form-control-sm" value="{{show[0]}}" name="wd_date"
                  style="border: 2px solid #444;" readonly/>
              </div>
              <div class="col-2 text-end">
                <label for="usr">ເວ​ລາ:</label>
              </div>
              <div class="col-3">
                <input type="time" class="form-control form-control-sm" value="{{doc_time}}" name=""
                  style="border: 2px solid #444;" readonly/>
              </div>
            </div>
          </div>

          <div class="container my-3">
            <div class="row justify-content-start">
              <div class="col-1 text-end">
                <label for="usr">ເລກທີ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="{{show[1]}}" name="wd_id" readonly
                  style="border: 2px solid #444;" />
              </div>
            </div>
          </div>

          <div class="container my-3" style="padding-left: 5px;">
            <div class="row justify-content-start">
              <div class="col-1 text-start" style="width: 120px;">
                <label for="usr">ລະຫັດລູກ​ຄ້າ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="{{show[2]}}" name="cust_id" id="cust_id" readonly
                  style="border: 2px solid #444;" onclick="return openmodal_sp(this)" />
              </div>

              <div class="col-1 text-end" style="width: 120px; margin-left: 5%;">
                <label for="usr">ຊື່ລູກ​ຄ້າ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="{{show[3]}}" name="cust_name" id="cust_name" readonly
                style="border: 2px solid #444;" onclick="return openmodal_sp(this)" />
              </div>
              <div class="col-1 text-start" style="width: 120px;">
                
              </div>
            </div>
          </div>

          <div class="container my-3" style="padding-left: 5px;">
            <div class="row justify-content-start">
              <div class="col-1 text-start" style="width: 120px;">
                <label for="usr">ລະຫັດພະ​ນັກ​ງານ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="{{show[4]}}" name="emp_id" id="emp_id" readonly
                  style="border: 2px solid #444;" onclick="return openmodal_sp(this)" />
              </div>

              <div class="col-1 text-end" style="width: 120px; margin-left: 5%;">
                <label for="usr">ຊື່ພະ​ນັກ​ງານ:</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control form-control-sm" value="{{show[5]}}" name="emp_name" id="emp_name" readonly
                style="border: 2px solid #444;" onclick="return openmodal_sp(this)" />
              </div>
              <div class="col-1 text-start" style="width: 120px;">
                
              </div>
            </div>
          </div>

          <div class="container my-3" style="padding-left: 5px;">
            <div class="row justify-content-start">
              <div class="col-1 text-end" style="width: 120px;">
                <label for="usr">ໝາຍເຫດ:</label>
              </div>
              <div class="col-7">
                <input type="text" size="50" style="height:55px;border: #000 2px solid;font-size: 12px;" class="form-control form-control-sm" value="{{show[6]}}" name="remark"
                  style="border: 2px solid #444;" readonly/>
              </div>
            </div>
          </div>
        </form>

          <hr style="width: 90%;margin-bottom: 30px;margin-top: -5px;">
          <center><h3><b>ຕາ​ຕະ​ລາງ​ສະ​ແດງ​ລາຍ​ການ​ບໍ​ລິ​ການ</b></h3></center>
          

        <table class="table table-sm table-hover table-striped" id="insertdata">
          <thead class="" style="background-color: #232629;color: #fff;font-weight: 100;">
            <tr>
              <th scope="col" style="width:3%;font-size: 13pt;">NO</th>
              <th scope="col" style="width:12%;font-size: 13pt;">ລະຫັດໃບ​ບິນ</th>
              <th scope="col" style="width:40%;font-size: 13pt;">ຊື່​ບໍ​ລິ​ການ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ເລກ​ກະ​ຕ່າ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ຈຳນວນ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາ</th>
              <th scope="col" style="width:10%;font-size: 13pt;">ລາ​ຄາລວມ</th>
              <th scope="col" style="width:3%;font-size: 13pt;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in detail_list %}
            <tr style="background-color: white;">
              <td id="code_pro">{{item[0]}}</td>
              <td style="text-align: center;" id="name_pro">{{item[1]}}</td>
              <td style="text-align: left;" id="qty_pro">{{item[2]}}</td>
              <td style="text-align: center;" id="unit_pro">{{item[3]}}</td>
              <td style="text-align: center;"><a href="" data-toggle="modal"
                data-target="#update_dbitem/{{item[1]}}">{{item[4]}}</a></td>
              <td style="text-align: center;" id="unit_pro">{{item[5]}} ₭</td>
              <td style="text-align: center;" id="unit_pro">{{item[6]}} ₭</td>
              <td>
                <a href="#" style="border-radius: 5px;text-decoration: none;" onclick="deleteitem('{{item[1]}}')"
                  id="icon_del">
                  <i class="bi bi-trash-fill" id="bitrash"
                    style="color: #DD4832;margin: 5px;margin-bottom: -10px;font-size: 19px;"></i>
                </a>
              </td>
            </tr>
            <!-- UPDATE  QTY-->
            <div class="modal fade" id="update_dbitem/{{item[1]}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: #202D39;width: 75%;">
                  <!-- <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> -->
                  <div class="modal-body">
                  <form class="" action="/update_dbitem/{{item[1]}}" method="post">
                    <div class="col-sm-10">
                    <input type="text" value="{{item[1]}}" name="code_up" readonly hidden>
                    <input type="number" style="font-weight: bold;font-size: 14pt;text-align: center;" value="{{item[3]}}" class="form-control form-control-sm" style="text-align: center;" name="qty_up">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #6C757D;margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #5A6268;border-radius: 12px;width: 100px;color: #fff;" data-dismiss="modal">ອອກ</button>
                    <button type="submit" class="btn btn-primary" style="margin-top: -5px;margin-left: 10px;border-bottom: 4px solid #0069D9;border-radius: 12px;width: 100px;">ປັບປຸງ</button>
                  </div>
                </form>
                </div>
              </div>
            </div>


            {% endfor %}
            {% for item in sum_amount %}
            <tr style="background-color: #DEDEDF;border: 1px solid #232629">
              <td colspan="6"
                style="text-align: right;font-size: 14pt;font-weight: bold;border-right: 1px solid #232629">
                ລວມທັງໝົດ:&nbsp;&nbsp;</td>
              <td colspan="1" style="text-align: center;font-size: 16pt;font-weight: bold;color: #00bd1f;" id="sumval">{{item[0]}} ₭</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="row" style="width: 100%;font-weight: bold;border-radius: 14px;float: left;margin-top: 15px;">
            
        <center>
          <a type="submit" onclick="submitForms()" class="btn btn-success" style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid darkgreen;border-radius: 12px;width: 100px;color: white;">ສຳ​ເລັດ​ແລ້ວ</a>
          <a href="/home_service" type="button" class="btn btn-warning" style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #E0A800;border-radius: 12px;width: 100px;">ກັບຄືນ</a>
        </center>
      </div><br><br>

      <!-- <div class="card-footer"
        style="width: 325px;font-weight: bold;border-radius: 14px;float: left;margin-left: 85px;">
        <button type="submit" id="" class="btn btn-primary"
          style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #0069D9;border-radius: 12px;width: 100px;">ບັນທຶກ</button>
        <a href="/cc_pick"><button type="reset" class="btn btn-warning"
            style="margin-top: -5px;margin-left: 30px;border-bottom: 4px solid #E0A800;border-radius: 12px;width: 100px;">ຍົກເລີກ</button></a>
      </div> -->
    </div>
  </div>
</div>
</div>


<!-- javascript -->
<script>
  submitForms = function(){
    document.getElementById("Form1").submit();
  }
//ເຊື່ອງ div && button
  document.getElementById("order_qty").readOnly = true;
  document.getElementById('add').style.display = 'none';
// alert ເວລາກົດປຸ່ມລົບ
  function deleteitem(id) {
    swal({
      title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
      text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
      type: 'question',
      showCancelButton: true,
      cancelButtonColor: '#3085d6',
      confirmButtonColor: '#d33',
      confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
      cancelButtonText: 'ບໍ່,ກັບຄືນ!',
    }).then(function () {
      location.href = "/delete_order_detail/" + id;
    })
  }
// ສະເເດງmodalເມື່ອກົດເລືອກ product ເເລ້ວວາງຄ່າລົງ input ຂອງ product
  function openmodal(input) {
    $('#Modal_listpro').modal('show');
    $(".select_pro").unbind().click(function (event) {
      $("input[id='p_id']").val($(this).attr("data-id_c"));
      $("input[id='name_1']").val($(this).attr("data-id_n"));
      $("input[id='unit_code']").val($(this).attr("data-id_u")) == this.value;
      $('#Modal_listpro').modal('hide');
      document.getElementById("order_qty").readOnly = false;
      document.getElementById('add').style.display = 'block';
    });
  }
  // modal ຜູ້ສະໜອງ
  function openmodal_sp(input) {
    $('#Modal_sp').modal('show');
    $(".hello").unbind().click(function (event) {

      $("input[id='sup_id']").val($(this).attr("data-id_code"));
      $("input[id='sup_name']").val($(this).attr("data-id"));
         $('#Modal_sp').modal('hide');
     });
   }
// ສະເເດງmodalເມື່ອກົດເລືອກ ap ເເລ້ວວາງຄ່າລົງ input ຂອງ supplier
  function openmodal_sp(input) {
    $('#Modal_sp').modal('show');
    $(".hello").unbind().click(function (event) {

      $("input[id='sup_id']").val($(this).attr("data-id_code"));
      $("input[id='sup_name']").val($(this).attr("data-id"));
         $('#Modal_sp').modal('hide');
     });
   }


//ຄົ້ນຫາ supplier
  $(document).ready(function () {
    $("#myInput_sp").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable_sp tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
// submit form ic_trans & trans_draft
  // submitForms = function(){
  //   document.getElementById("Form1").submit();
  //   document.getElementById("Form2").submit();
  // }
// alert ເມື່ອ ບໍ່ໄດ້ເລືອກສິນຄ້າ
  function alert() {
    const input = document.getElementById('p_id');
    if (input.value === "") {
      alert("ກະລຸນາເລືອກສິນຄ້າ"); // This will prevent the Form from submitting
      return false;
    } else {
      return true; // this will submit the form and handle the control to php.
    }
  }

  //ເກັບ​ຄ່າ input ເມື່ອ refresh
window.onload = function() {

if (sessionStorage.getItem('member_nm') == "member_nm") {
  return;
}

var sup_id = sessionStorage.getItem('sup_id');
if (sup_id !== null) $('#sup_id').val(sup_id);

var sup_name = sessionStorage.getItem('sup_name');
if (sup_name !== null) $('#sup_name').val(sup_name);

var remark = sessionStorage.getItem('remark');
if (remark !== null) $('#remark').val(remark);
}

window.onbeforeunload = function() {
sessionStorage.setItem("sup_id", $('#sup_id').val());
sessionStorage.setItem("sup_name", $('#sup_name').val());
sessionStorage.setItem("remark", $('#remark').val());
}

var textboxVal; // Will make textboxVal accesible on all subsequent code
function closeModal() {
  textboxVal = document.getElementById('textboxId').value;
  $('#Modal_listpro').modal('hide');
  openOtherModal();
}

function myFunction() {
  var table = document.getElementById("insertdata");
  var row = table.insertRow(1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);
  cell2.innerHTML = document.getElementById("p_id").value;
  cell3.innerHTML = "NULL";
  cell4.innerHTML = document.getElementById("order_qty").value;
  cell5.innerHTML = "NULL";
}
</script>
{% endblock %}