<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        Change Image Dynamically when User Scrolls
    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Shop.css') }}">
    <!-- <link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
  
<body class="p-2">
<!--   navbar-->
   <div id="all">
    <div class="topbar">
        <ul>
            <li class="profile"><img src="{{ url_for('static',filename='images/icon/banner_store_bonus_droprate.png') }}" alt="" class="pf"><p class="text-profile">Sehun_94</p><img src="{{ url_for('static',filename='images/icon/platimium.png') }}" alt="" class="platinium"></li>
            <li class="headphone"><img src="{{ url_for('static',filename='images/icon/953.png') }}" alt="" class="hp"><p class="text-max">MAX</p><p class="text-headphone">22</p></li>
            <li class="RP"><img src="{{ url_for('static',filename='images/icon/954.png') }}" alt="" class="rp"><p class="text-RP">9,259,350</p></li>
            <li class="diamond"><img src="{{ url_for('static',filename='images/icon/955.png') }}" alt="" class="dm"><p class="text-diamond">61,550</p></li>
            <li class="special"><img src="{{ url_for('static',filename='images/icon/956.png') }}" alt="" class="sp"></li>
            <li class="message"><img src="{{ url_for('static',filename='images/icon/957.png') }}" alt="" class="ms"><p class="text-message">MESSAGE</p></li>
            <li class="quit"><a href="/lobby"><img src="{{ url_for('static',filename='images/icon/quit.png') }}" alt="" class="qu"></a></li>
        </ul>
    </div>
    
    <div class="position">
        <div class="scrollver">
           
            <li class="content" id="home">
            <a href="#home" class="btn">HOME</a>
            <div class="menu">
                <a href="#home">NEW</a>
            </div>
            </li>
            
            <li class="content" id="recommended">
            <a href="#recommended" class="btn">RECOMMENDED</a>
            <div class="menu">
                <a href="#recommended" class="exole" onclick="show_exo()">EXO <br>LIMITED THEME</a>
                <a href="#recommended" class="aespale" onclick="show_aespa()">aespa <br>LIMITED THEME</a>
                <a href="#recommended" class="fx" onclick="show_fx()">f(x) <br>LIMITED THEME</a>
                <a href="#recommended" class="shinee" onclick="show_shinee()">SHINee <br>LIMITED THEME</a>
            </div>
            </li>
            
            <li class="content" id="cardpack">
            <a href="#cardpack" class="btn">CARD PACK</a>
            <div class="menu">
                <a href="#cardpack">PREMIUM PACK</a>
                <a href="#cardpack">CARD PACK</a>
                <a href="#cardpack">YEARLY PREMIUM <br>PACK</a>
            </div>
            </li>
            
            <li class="content" id="currency">
            <a href="#currency" class="btn">CURRENCY</a>
            <div class="menu">
                <a href="#currency">DIAMOND</a>
                <a href="#currency">RHYTHM</a>
                <a href="#currency">HEADPHONE</a>
                <a href="#currency">MIC</a>
            </div>
            </li>
            
            <li class="content" id="special">
            <a href="#special" class="btn">SPECIAL</a>
            <div class="menu">
                <a href="#special">SPECIAL OFFER</a>
                <a href="#special">CARD SELECTOR</a>
                <a href="#special">ARTIST TICKET</a>
                <a href="#special">GROUP TICKET</a>
            </div>
            </li>
            
            <li class="content" id="mystore">
            <a href="#mystore" class="btn">MY STORE</a>
            <div class="menu">
                <a href="#mystore">DAILY OFFER</a>
            </div>
            </li>
            
            <li class="content" id="lobbybgimage">
            <a href="#lobbybgimage" class="btn">LOBBY BG IMAGE</a>
            <div class="menu">
                <a href="#lobbybgimage">NORMAL BG IMAGE</a>
                <a href="#lobbybgimage">FREE BG IMAGE</a>
                <a href="#lobbybgimage">LIMITED BG IMAGE</a>
                <a href="#lobbybgimage">EVENT BG IMAGE</a>
            </div>
            </li>
            
            <li class="content" id="inventoryshop">
            <a href="#inventoryshop" class="btn">INVENTORY</a>
            <div class="menu">
                <a href="#">INVENTORY</a>
            </div>
            </li>
            
        </div>
    </div>
    
    <div id="exo">
    <div class="scrollhor">
<!--
      <div class="item"><img src="icon/EXO590.png" alt="" onclick="purchaseexo590()"></div>
      <div class="item"><img src="icon/EXO120.png" alt="" onclick="purchaseexo120()"></div>
-->
      <div class="item"><img src="{{ url_for('static',filename='images/Packagestore_exo.png') }}" alt="" onclick="purchaseexo35000()"></div>
      <div class="item"><img src="{{ url_for('static',filename='images/Packagestore_exo.png') }}" alt="" onclick="purchaseexo150()"></div>
    </div>
    </div>
    
    <div id="aespa">
    <div class="scrollhor">
      <div class="item"><img src="icon/aespa390.png" alt="" onclick="purchaseaespa390()"></div>
      <div class="item"><img src="icon/aespa25.png" alt="" onclick="purchaseaespa25()"></div>
<!--      <div class="item"><img src="icon/aespa300_2.png" alt=""></div>-->
<!--      <div class="item"><img src="icon/aespa35000_2.png" alt=""></div>-->
<!--      <div class="item"><img src="icon/Packagestore.png" alt=""></div>-->
    </div>
    </div>
    
    <div id="fx">
    <div class="scrollhor">
      <div class="item"><img src="icon/fx300.png" alt=""></div>
      <div class="item"><img src="icon/fx120.png" alt=""></div>
      <div class="item"><img src="icon/fx35000.png" alt=""></div>
<!--
      <div class="item"><img src="icon/Packagestore.png" alt=""></div>
      <div class="item"><img src="icon/Packagestore.png" alt=""></div>
-->
    </div>
    </div>
    
    <div id="shinee">
    <div class="scrollhor">
      <div class="item"><img src="icon/shinee300.png" alt=""></div>
      <div class="item"><img src="icon/shinee120.png" alt=""></div>
<!--
      <div class="item"><img src="icon/Packagestore.png" alt=""></div>
      <div class="item"><img src="icon/Packagestore.png" alt=""></div>
      <div class="item"><img src="icon/Packagestore.png" alt=""></div>
-->
    </div>
    </div>
    
    <div class="lobbyscreen">
        <img src="icon/newsong.png" alt="" class="newsong">
        <img src="icon/Event.png" alt="" class="Event">
        <img src="icon/timing.png" alt="" class="timing">
        <img src="icon/Rank.png" alt="" class="Rank">
    </div>
    
    <div class="effect">
        <img src="effect/effectlobby_2.gif" alt="" class="effectlobby">
        <img src="effect/effectrank_2.gif" alt="" class="effectrank">
    </div>
    
    <div class="sound">
        <audio controls loop autoplay class="sound-lobby">
          <source src="sound/bgm_shop.a.mp3" type="audio/mp3">
        </audio>
    </div>
    <div id="scroll-image">
        <img src=
"bg/li/109_2.png" 
             class="test" />
        <img src=
"bg/li/146_2.png" 
             class="test" />
        <img src=
"bg/li/138_l.i.png" 
             class="test" />
        <img src=
"bg/li/111_l.i.png" 
             class="test" />
        <img src=
"bg/li/157_2.png" 
             class="test" />
        <img src=
"bg/li/180_2.png" 
             class="test" />
        <img src=
"bg/li/177_l.i.png" 
             class="test" />
        <img src=
"bg/li/178_2.png" 
             class="test" />
        <img src=
"bg/li/170_l.i.png" 
             class="test" />
        <img src=
"bg/li/172_l.i.png" 
             class="test" />
        <img src=
"bg/li/181_l.i.png" 
             class="test" />
             
    </div>
    <div class="bottombar">
        <ul>
            <li class="inventory"><img src="icon/inventory.png" alt="" class="inv"></li>
            <li class="collection"><img src="icon/collection.png" alt="" class="col"></li>
            <li class="mission"><img src="icon/mission.png" alt="" class="mis"></li>
            <li class="shop"><img src="icon/shop.png" alt="" class="sh"></li>
            <li class="ready"><img src="icon/ready.png" alt="" class="rea"></li>
        </ul>
    </div>
  
    <script>
        startImageTransition();
  
        function startImageTransition() {
            var images = document.getElementsByClassName("test");
  
            for (var i = 0; i < images.length; ++i) {
                images[i].style.opacity = 1;
            }
  
            var top = 1;
  
            var cur = images.length - 1;
  
            setInterval(changeImage, 9000);
  
            async function changeImage() {
  
                var nextImage = (1 + cur) % images.length;
  
                images[cur].style.zIndex = top + 1;
                images[nextImage].style.zIndex = top;
  
                await transition();
  
                images[cur].style.zIndex = top;
  
                images[nextImage].style.zIndex = top + 1;
  
                top = top + 1;
  
                images[cur].style.opacity = 1;
                
                cur = nextImage;
  
            }
  
            function transition() {
                return new Promise(function(resolve, reject) {
                    var del = 0.01;
  
                    var id = setInterval(changeOpacity, 10);
  
                    function changeOpacity() {
                        images[cur].style.opacity -= del;
                        if (images[cur].style.opacity <= 0) {
                            clearInterval(id);
                            resolve();
                        }
                    }
  
                })
            }
        }
    </script>
    
    <div class="bg-shop">
    <video loop muted autoplay class="bg-shop-video">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <script src="{{ url_for('static',filename='js/Shop.js') }}"></script>
    
    </div>
    
    
<!--    EXO-->
    <div id="open-EXO590">
       <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_EXO590.css') }}">
        <div class="bg">
    <video loop muted autoplay class="bg-video">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase">
        <img src="{{ url_for('static',filename='images/icon/bg-purchase.png') }}" alt="" class="brown">
    </div>
    
    <div class="product">
        <img src="icon/inside_EXO590.png" alt="" class="exo590">
    </div>
    
    <div class="exit-button" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit"></div>
    
    <div class="text-content"><p class="purchase">PURCHASE</p></div>
    
    <div class="text-detail">
    <p class="Question">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct">
        <p class="name-product">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button">
        <div class="buy" onmousedown="bleep2.play()" onclick="gototouch()"><p class="text">BUY</p></div>
    </div>
    </div>
    <script src="{{ url_for('static',filename='js/EXO.js') }}"></script>
    
    <div id="touch-card">
       <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_EXO590.css') }}">
       <div class="bg_1">
    <video loop muted autoplay class="bg-video_1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_1">
        <img src="icon/bg-reward.png" alt="" class="brown_1">
    </div>
    
    <div class="product_1"></div>
    
    <div class="card_1">
        <a href="/obtain_1" onmousedown="bleep.play()"><img src="icon/backcard.png" alt="" class="backcard_1">
        </a>
    </div>
    
    <div class="exit-button_1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_1"></div>
    
    <div class="text-content_1"><p class="purchase_1">PURCHASE</p></div>
    
    <div class="text-detail_1">
    <p class="suggest_1">Touch to open!</p>
    </div>
    
    <div class="theproduct_1">
        <p class="name-product_1">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_1">
        <div class="buy_1"><p class="text_1">BUY</p></div>
    </div>
    </div>
    
    <div id="open-EXO120">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_EXO120.css') }}">
        <div class="bg_p2">
    <video loop muted autoplay class="bg-video_p2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_p2">
        <img src="{{ url_for('static',filename='images/icon/bg-purchase.png') }}" alt="" class="brown_p2">
    </div>
    
    <div class="product_p2">
        <img src="{{ url_for('static',filename='images/icon/inside_EXO120.png') }}" alt="" class="exo590_p2">
    </div>
    
    <div class="exit-button_p2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_p2"></div>
    
    <div class="text-content_p2"><p class="purchase_p2">PURCHASE</p></div>
    
    <div class="text-detail_p2">
    <p class="Question_p2">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_p2">
        <p class="name-product_p2">Merry <br>PREMIUM PACK 10</p>
    </div>
    
    <div class="button_p2">
        <div class="buy_p2" onmousedown="bleep2.play()" onclick="gototouchprepack10()"><p class="text_p2">BUY</p></div>
    </div>
    </div>
    
    <div id="touch-prepack10">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_EXO120.css')}} ">
        <div class="bg_t1">
    <video loop muted autoplay class="bg-video_t1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_t1">
        <img src="icon/bg-reward.png" alt="" class="brown_t1">
    </div>
    
    <div class="product_t1"></div>
    
    <div class="card_t1">
        <a href="/obtain_prepack10" onmousedown="bleep.play()"><img src="icon/804.i.png" alt="" class="backcard_t1">
        </a>
    </div>
    
    <div class="exit-button_t1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_t1"></div>
    
    <div class="text-content_t1"><p class="purchase_t1">PURCHASE</p></div>
    
    <div class="text-detail_t1">
    <p class="suggest_t1">Touch to open!</p>
    </div>
    
    <div class="theproduct_t1">
        <p class="name-product_t1">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t1">
        <div class="buy_t1"><p class="text_t1">BUY</p></div>
    </div>
    </div>
    
    <div id="open-EXO35000">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_EXO35000.css') }}">
        <div class="bg_p3">
    <video loop muted autoplay class="bg-video_p3">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_p3">
        <img src="{{ url_for('static',filename='images/icon/bg-purchase.png') }}" alt="" class="brown_p3">
    </div>
    
    <div class="product_p3">
        <img src="{{ url_for('static',filename='images/icon/inside_izy35000.png') }}" alt="" class="exo590_p3">
    </div>
    
    <div class="exit-button_p3" onclick="backtoshop()"><img src="{{ url_for('static',filename='images/icon/exit.png') }}" alt="" class="exit_p3"></div>
    
    <div class="text-content_p3"><p class="purchase_p3">PURCHASE</p></div>
    
<!--
    <div class="text-detail_p3">
    <p class="Question_p3">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_p3">
        <p class="name-product_p3">Want it? Verse 2 <br>CARD PACK 30</p>
    </div>
-->
    
    <div class="button_p3">
        <div class="buy_p3" onmousedown="bleep2.play()" onclick="gototouch35000()"><p class="text_p3">BUY</p></div>
    </div>
    </div>
    
    <div id="touch-packcard30">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_EXO35000.css') }}">
    <div class="bg_t2">
    <video loop muted autoplay class="bg-video_t2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_t2">
        <img src="icon/bg-reward.png" alt="" class="brown_t2">
    </div>
    
    <div class="product_t2"></div>
    
    <div class="card_t2">
        <a href="/obtain35000_1" onmousedown="bleep.play()"><img src="icon/802.i.png" alt="" class="backcard_t2">
        </a>
    </div>
    
    <div class="exit-button_t2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_t2"></div>
    
    <div class="text-content_t2"><p class="purchase_t2">PURCHASE</p></div>
    
    <div class="text-detail_t2">
    <p class="suggest_t2">Touch to open!</p>
    </div>
    
    <div class="theproduct_t2">
        <p class="name-product_t2">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t2">
        <div class="buy_t2"><p class="text_t2">BUY</p></div>
    </div>
    </div>
    
    <div id="open-EXO150">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_EXO150.css') }}">
        <div class="bg_p150">
    <video loop muted autoplay class="bg-video_p150">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_p150">
        <img src="icon/bg-purchase.png" alt="" class="brown_p150">
    </div>
    
    <div class="product_p150">
        <img src="icon/inside_izy300.png" alt="" class="exo590_p150">
    </div>
    
    <div class="exit-button_p150" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_p150"></div>
    
    <div class="text-content_p150"><p class="purchase_p150">PURCHASE</p></div>
    
    <div class="text-detail_p150">
    <p class="Question_p150">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_p150">
        <p class="name-product_p150">ICY <br>R Card</p>
    </div>
    
    <div class="button_p150">
        <div class="buy_p150" onmousedown="bleep2.play()" onclick="gototouch150()"><p class="text_p150">BUY</p></div>
    </div>
    </div>
    
    <div id="touch-card150">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_EXO150.css') }}">
        <div class="bg_t150">
    <video loop muted autoplay class="bg-video_t150">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_t150">
        <img src="icon/bg-reward.png" alt="" class="brown_t150">
    </div>
    
    <div class="product_t150"></div>
    
    <div class="card_t150">
        <a href="/obtain_Card3" onmousedown="bleep.play()"><img src="icon/backcard.png" alt="" class="backcard_t150">
        </a>
    </div>
    
    <div class="exit-button_t150" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_t150"></div>
    
    <div class="text-content_t150"><p class="purchase_t150">REWARD</p></div>
    
    <div class="text-detail_t150">
    <p class="suggest_t150">Touch to open!</p>
    </div>
    
    <div class="theproduct_t150">
        <p class="name-product_t150">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t150">
        <div class="buy_t150"><p class="text_t150">BUY</p></div>
    </div>
    </div>
    
    
<!--    aespa-->
    <div id="open-aespa390">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_aespa390.css') }}">
        <div class="bg_ap1">
    <video loop muted autoplay class="bg-video_ap1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_ap1">
        <img src="icon/bg-purchase.png" alt="" class="brown_ap1">
    </div>
    
    <div class="product_ap1">
        <img src="icon/inside_aespa390.png" alt="" class="exo590_ap1">
    </div>
    
    <div class="exit-button_ap1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_ap1"></div>
    
    <div class="text-content_ap1"><p class="purchase_ap1">PURCHASE</p></div>
    
    <div class="text-detail_ap1">
    <p class="Question_ap1">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_ap1">
        <p class="name-product_ap1">aespa <br>PREMIUM PACK 30</p>
    </div>
    
    <div class="button_ap1">
        <div class="buy_ap1" onmousedown="bleep2.play()" onclick="gototouchaespa390()"><p class="text_ap1">BUY</p></div>
    </div>
    </div>
    
    <div id="touch-aespa390">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_aespa390.css') }}">
        <div class="bg_tap1">
    <video loop muted autoplay class="bg-video_tap1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_tap1">
        <img src="icon/bg-reward.png" alt="" class="brown_tap1">
    </div>
    
    <div class="product_tap1"></div>
    
    <div class="card_tap1">
        <a href="/obtain_aespaCard1" onmousedown="bleep.play()"><img src="icon/805.i.png" alt="" class="backcard_tap1">
        </a>
    </div>
    
    <div class="exit-button_tap1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_tap1"></div>
    
    <div class="text-content_tap1"><p class="purchase_tap1">PURCHASE</p></div>
    
    <div class="text-detail_tap1">
    <p class="suggest_tap1">Touch to open!</p>
    </div>
    
    <div class="theproduct_tap1">
        <p class="name-product_tap1">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t2">
        <div class="buy_t2"><p class="text_t2">BUY</p></div>
    </div>
    </div>
    
    <div id="open-aespa25">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Purchase_aespa25.css') }}">
        <div class="bg_ap2">
    <video loop muted autoplay class="bg-video_ap2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_ap2">
        <img src="icon/bg-purchase.png" alt="" class="brown_ap2">
    </div>
    
    <div class="product_ap2">
        <img src="icon/inside_aespa25.png" alt="" class="exo590_ap2">
    </div>
    
    <div class="exit-button_ap2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_ap2"></div>
    
    <div class="text-content_ap2"><p class="purchase_ap2">PURCHASE</p></div>
    
    <div class="text-detail_ap2">
    <p class="Question_ap2">Do you want to buy this item?</p>
    </div>
    
    <div class="theproduct_ap2">
        <p class="name-product_ap2">aespa card<br>Chance for Limited theme</p>
    </div>
    
    <div class="button_ap2">
        <div class="buy_ap2" onmousedown="bleep2.play()" onclick="gototouchaespa25()"><p class="text_ap2">BUY</p></div>
    </div>
    </div>
    
    <div id="touch-aespa25">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/Touch_aespa25.css') }}">
        <div class="bg_tap2">
    <video loop muted autoplay class="bg-video_tap2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_tap2">
        <img src="icon/bg-reward.png" alt="" class="brown_tap2">
    </div>
    
    <div class="product_tap2"></div>
    
    <div class="card_tap2">
        <a href="/obtain_aespa25" onmousedown="bleep.play()"><img src="icon/backcard.png" alt="" class="backcard_tap2">
        </a>
    </div>
    
    <div class="exit-button_tap2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_tap2"></div>
    
    <div class="text-content_tap2"><p class="purchase_tap2">PURCHASE</p></div>
    
    <div class="text-detail_tap2">
    <p class="suggest_tap2">Touch to open!</p>
    </div>
    
    <div class="theproduct_tap2">
        <p class="name-product_tap2">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_tap2">
        <div class="buy_tap2"><p class="text_tap2">BUY</p></div>
    </div>
    </div>
    
</body>
  
</html>