<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Touch_aespa25.css">
</head>
<body>
    
    
    <div class="bg_tap2">
    <video loop muted autoplay class="bg-video_tap2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_tap2">
        <img src="icon/bg-reward.png" alt="" class="brown_tap2">
    </div>
    
    <div class="product_tap2"></div>
    
    <div class="card_tap2">
        <a href="Obtain_aespa25.html" onmousedown="bleep.play()"><img src="icon/backcard.png" alt="" class="backcard_tap2">
        </a>
    </div>
    
    <div class="exit-button_tap2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_tap2"></div>
    
    <div class="text-content_tap2"><p class="purchase_tap2">PURCHASE</p></div>
    
    <div class="text-detail_tap2">
    <p class="suggest_tap2">Touch to open!</p>
    </div>
    
    <div class="theproduct_tap2">
        <p class="name-product_tap2">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_tap2">
        <div class="buy_tap2"><p class="text_tap2">BUY</p></div>
    </div>
    
</body>