<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Touch_EXO35000.css">
</head>
<body>
    
    
    <div class="bg_t2">
    <video loop muted autoplay class="bg-video_t2">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_t2">
        <img src="icon/bg-reward.png" alt="" class="brown_t2">
    </div>
    
    <div class="product_t2"></div>
    
    <div class="card_t2">
        <a href="Obtain_Card1.html" onmousedown="bleep.play()"><img src="icon/802.i.png" alt="" class="backcard_t2">
        </a>
    </div>
    
    <div class="exit-button_t2" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_t2"></div>
    
    <div class="text-content_t2"><p class="purchase_t2">PURCHASE</p></div>
    
    <div class="text-detail_t2">
    <p class="suggest_t2">Touch to open!</p>
    </div>
    
    <div class="theproduct_t2">
        <p class="name-product_t2">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t2">
        <div class="buy_t2"><p class="text_t2">BUY</p></div>
    </div>
    
</body>