<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Touch_aespa390.css">
</head>
<body>
    
    
    <div class="bg_tap1">
    <video loop muted autoplay class="bg-video_tap1">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_tap1">
        <img src="icon/bg-reward.png" alt="" class="brown_tap1">
    </div>
    
    <div class="product_tap1"></div>
    
    <div class="card_tap1">
        <a href="Obtain_aespaCard1.html" onmousedown="bleep.play()"><img src="icon/805.i.png" alt="" class="backcard_tap1">
        </a>
    </div>
    
    <div class="exit-button_tap1" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_tap1"></div>
    
    <div class="text-content_tap1"><p class="purchase_tap1">PURCHASE</p></div>
    
    <div class="text-detail_tap1">
    <p class="suggest_tap1">Touch to open!</p>
    </div>
    
    <div class="theproduct_tap1">
        <p class="name-product_tap1">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t2">
        <div class="buy_t2"><p class="text_t2">BUY</p></div>
    </div>
    
</body>