<html>
  
<head>
    <meta charset="utf-8" />
    <title>
        PURCHASE
    </title>
    <link rel="stylesheet" href="Touch_EXO150.css">
</head>
<body>
    
    
    <div class="bg_t150">
    <video loop muted autoplay class="bg-video_t150">
        <source src="bg_video/main_24.webm" type="video/webm">
    </video>
    </div>
    
    <div class="bg-purchase_t150">
        <img src="icon/bg-reward.png" alt="" class="brown_t150">
    </div>
    
    <div class="product_t150"></div>
    
    <div class="card_t150">
        <a href="Obtain_Card1.html" onmousedown="bleep.play()"><img src="icon/backcard.png" alt="" class="backcard_t150">
        </a>
    </div>
    
    <div class="exit-button_t150" onclick="backtoshop()"><img src="icon/exit.png" alt="" class="exit_t150"></div>
    
    <div class="text-content_t150"><p class="purchase_t150">REWARD</p></div>
    
    <div class="text-detail_t150">
    <p class="suggest_t150">Touch to open!</p>
    </div>
    
    <div class="theproduct_t150">
        <p class="name-product_t150">Merry <br>R Card and 2 A Card</p>
    </div>
    
    <div class="button_t150">
        <div class="buy_t150"><p class="text_t150">BUY</p></div>
    </div>
    
</body>