
{% extends "layout/layout.html" %}
{% block title %}Account{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
  
{% block content %}
<style>
  .pw {
      -webkit-text-security: disc;
  }
</style>
<br>
<div class="container d-flex justify-content-center">
  <div class="card" style="width: 60%">
    <div class="card-body" style="background-color:whitesmoke;">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <center>
                <h3>ຈັດ​ການ​ບັນ​ຊີ​ຜູ້​ໃຊ້</h3>
              </center>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                  $(".alert-dismissible").alert('close');
                });
              </script>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
            <div class="card-body">
                <center>
                    <br>
                <div>
                  {% if account[10] %}
                    <!-- <img src="{{ url_for('display_image', filename=filename) }}"> -->
                    <img src="{{ url_for('static', filename='uploads/' + account[10])}}" width="150" height="150" style="border-radius: 50%">
                  {% else %}
                  <img src="{{url_for('static',filename='images/Default.png')}}" width="150" height="auto" class="defaultpic">
                  {% endif %}
                  <h5>{{ account[1]}}</h5>
                    <table class="table-responsive">
                        <!-- <tr>
                            <td>​ລະ​ຫັດ​ໄອ​ດີ:</td>
                            <td>{{ account[0] }}</td>
                        </tr> -->
                        <tr>
                            <td  width="120px" style="display:inline-block">​ຊື່​ບັນ​ຊີ:</td>
                            <td style="text-align: left;"><b>{{ account[1] }}</b></td>
                        </tr>
                        <tr>
                            <td>​ລະ​ຫັດ​ຜ່ານ:</td>
                            <td class="pw">{{ account[2] }}</td>
                        </tr>
                        <tr>
                            <td>ສິດ​ທິ​ການ​ໃຊ້​ງານ:</td>
                            <td style="text-align: left;"><b>{{ account[3] }}</b></td>
                        </tr>
                    </table>
                </div>
                </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}